[2020-06-18 07:16] #209 closed

[2020-06-19 11:38] #207 closed

[2020-06-19 15:56] aspnetde commented on #203
If I wanted to look into it, where would I have to start?

[2020-06-19 17:30] Shmew commented on #203
[Here's an app using fast-refresh](https://github.com/Shmew/Feliz.Recoil/tree/master/docs), [webpack.config.js](https://github.com/Shmew/Feliz.Recoil/blob/master/webpack.config.js), [package.json](https://github.com/Shmew/Feliz.Recoil/blob/master/package.json), hopefully that should help give you an idea. It's pretty straightforward for the most part.

[2020-07-01 20:41] UnoSD opened #219 "Escape hatch for missing properties"
Hi, thank you for your library.

I'm using `Feliz.Recharts`,

is there any escape hatch in case of missing props and I am being blind? if not, can you please add this feature to fallback when you can't use idiomatic Feliz API?

Otherwise, when finding this issues, consumers would be forced to fall back to `Fable.Recharts`.

In my particular case, I need the react to the `pieChart` event `activeSha

[2020-07-01 21:09] Shmew commented on #219
You can use `Interop.mkAttr "activeShape" someValue`, but more ideal would be a PR 😉

[2020-07-01 21:47] UnoSD commented on #219
@Shmew sure, I can give it a go. I had to ask first as I would have attempted to implement the fallback mechanism if it wasn't there instead of the specific event.

[2020-07-01 21:47] #219 closed

[2020-07-01 22:22] Shmew commented on #219
You might be able to unbox it, I'm not really sure.

[2020-07-04 13:53] BennieCopeland commented on #190
I poked around a little bit and did some testing. It works with a list of `ReactElements`, but as soon as you add an `if` or `match` expression in the middle of the list it breaks. Additionally, if I pull a working list out into its own `let` bound value, it stops working.

Works:
[code]

Doesn't work:
[code]

Also doesn't work:
[code]

[2020-07-04 14:01] BennieCopeland commented on #190
I think this [Preact issue](https://github.com/preactjs/preact-compat/issues/262) is related. I got all failing cases above to work by using arrays instead of seq or list.

[2020-07-15 12:12] christoph-feb22 opened #226 "Conditional className"
Hi there,

after updating to a current release I realized, that the property overload for conditional class names was removed. Is there any replacement for that overload or any reason why it was removed?

[2020-07-15 12:18] Zaid-Ajaj commented on #226
Hi @christoph-feb22, the conditional overload is removed because it is unnecessary since latest F# supports implicit yield which means that this snippet:
[code]
can be re-written as
[code]
Please let us know if you have trouble using this pattern.

[2020-07-15 12:20] christoph-feb22 commented on #226
Hi @Zaid-Ajaj,
thank you for your fast response.
I didnt thought about using the implicit yields there. Thank you!

[2020-07-15 12:20] #226 closed

[2020-07-15 23:26] jbeeko opened #227 "Add style caret-color"
The style caret-color https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color is not supported as in `(Interop.mkStyle "caret-color" "red")`

I took a quick look but could not quite figure out where in styles.fs this should go.

[2020-07-16 21:56] #227 closed

[2020-07-16 22:00] Zaid-Ajaj commented on #227
Added as part of Feliz v1.7.0 :rocket:

[2020-07-22 09:41] OnurGumus opened #231 "Support for slot and part html attribute"
There is a slot attribute used for web components. So it's a good idea to implement it. Currently, I use

[code]

there is also `part` attribute.

[2020-07-22 17:26] 0x53A opened #232 "Docs for the router do not work"
![image](https://user-images.githubusercontent.com/4236651/88208237-37deff80-cc51-11ea-8f1c-68c4323526e7.png)

[2020-07-22 18:42] Zaid-Ajaj commented on #232
Hmm that looks weird, maybe you have a cache issue? Because it looks like it is working fine:

![2020-07-22 20_41_13-Feliz](https://user-images.githubusercontent.com/13316248/88215345-cb1d3280-cc5b-11ea-95e4-eb4860f151f3.png)

[2020-07-22 18:53] Shmew commented on #232
I cleared my cache and loaded the docs and I can see it fine as well.

[2020-07-23 13:41] 0x53A commented on #232
Yeah, sorry, my work firewall is broken ...

[2020-07-23 13:41] #232 closed

[2020-07-24 13:27] OnurGumus opened #233 "Custom web element useState problem"
I have a very strange problem, when I use feliz in a custom web component within shadowroot, Feliz' React.useState doesn't work as I expected. Here's a comparative case
[code]

I have the same component as above. However, in one I use Feliz for state hook and on the other I use fable hook
Then the use case is

[code]

Basically I have some custom web component
Then the fable version works expected

[2020-07-24 13:40] Zaid-Ajaj commented on #233
Hi @OnurGumus, can you please provide a small repo where the problem occurs so that we can debug it too? The used components look exactly the same to me so I can't tell right away where the problem is

[2020-07-28 12:47] jkone27 opened #235 "ReactComponent Type Provider"
I just start saying Feliz is AWESOME!!!!

would it be possible (in a human way :D ) to have a **React component library type provider**, in a similar way of the one used for Importing custom CSS?
So that e.g. one could do

[code]

i see there is a [fable binding project for antd,](https://github.com/uxsoft/Fable.AntD) i guess this is one of the most used UI component libraries for reactjs,
so that

[2020-07-28 13:32] Zaid-Ajaj commented on #235
Hi @jkone27, I am glad to hear you enjoy working with Feliz :smile:

About the type provider, unfortunately I don't think it is possible to build one in such a generic way to support many different binding libraries 😞 this is because the type metadata of the components is not always up to date and is sometimes missing and the we as developers building these bindings, would have to fill in these ga

[2020-07-29 10:10] VitalyBrusentsev commented on #190
@Zaid-Ajaj is it possible to add another overload to `prop`? It could solve the preact issue without making breaking changes.

As stated by @BennieCopeland, the issue is that Preact does not support iterators for `children` (and that's what Fable generates when it encounters lists with dynamic contents). This is strange, as lists in F# are supposed to be eagerly computed (not sure why Fable thinks

[2020-07-29 14:24] Shmew commented on #190
I don't see a compelling reason for this not to just be a list rather than seq anyways. Shouldn't really break anything afaik.

[2020-07-29 14:34] Zaid-Ajaj commented on #190
I just published v1.8 that converts the elements into arrays before being passed into `Children.toArray` from React. I think that fixes the problem for now. @VitalyBrusentsev can you please confirm? In any case, I am planning to compile this runtime invocation away when Fable 3 comes out so it should be good enough for now

[2020-07-29 14:35] Zaid-Ajaj commented on #231
Added prop.slot in Feliz v1.8

[2020-07-29 14:35] #231 closed

[2020-07-29 15:38] OnurGumus commented on #231
what about part?

[2020-07-29 16:11] Zaid-Ajaj commented on #231
I missed that one. Now added is part (no pun intended) of Feliz v1.9 :wink:

[2020-07-29 17:03] zanaptak opened #238 "Validity of Html.text list overload?"
`Html.text` has an overload taking a list parameter and creating a `<text>` element.

https://github.com/Zaid-Ajaj/Feliz/blob/a0e39f6cf2fa411f25bea524b6db05d8d3a2edfe/Feliz/Html.fs#L709

Should this overload exist?

As far as I can tell, `<text>` is not a valid HTML element ([MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element), [Spec](https://www.w3.org/TR/html52/), [Validator](https:/

[2020-07-29 17:35] Zaid-Ajaj commented on #238
I believe this overload is for [SVG text](https://www.w3schools.com/graphics/svg_text.asp) not just HTML

[2020-07-29 18:10] #238 closed

[2020-07-30 00:59] VitalyBrusentsev commented on #190
I have updated Feliz to 1.10 and can confirm that the app works with preact!
Good job 👍

[2020-07-30 08:55] Zaid-Ajaj commented on #190
@VitalyBrusentsev Thanks a lot for confirming! That's great news :smile: @BennieCopeland and @l3m Can you please check again if Feliz is working like it should with Preact? :pray:

[2020-07-30 09:20] jkone27 commented on #235
Thanks @Zaid-Ajaj  that would be awesome, i mean to be able to show pp that a component library like ANT design is ready to be used in F#, that would be very impressive :))))

i don't know Material UI but i will try to experiment a bit with this one in the mean time https://cmeeren.github.io/Feliz.MaterialUI/#usage/components-props

Feliz is Super!!!! 🥇

[2020-07-31 15:11] Zaid-Ajaj commented on #203
Follow up discussion on this issue from the fast-refresh plugin repository in [Fable support for Feliz/React applications](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/150)

[2020-08-01 17:49] OnurGumus commented on #233
Hi , in a different project the above code work. Since I can't isolate the issue , I will close it for now. I will re open if I manage to isolate it.

[2020-08-01 17:49] #233 closed

[2020-08-08 16:20] Shmew commented on #200
Turns out this is only really around to cover some certain use cases that don't really exist with Fable. Closing this for now, if someone provides a convincing need for it we can revisit.

[2020-08-08 16:30] #235 closed

[2020-08-08 16:32] Shmew commented on #142
Looks like this has been answered, feel free to re-open the issue if you have any more problems/questions.

[2020-08-08 16:32] #142 closed

[2020-08-10 03:33] zanaptak opened #248 "style.float is shadowing F# float"
Functions such as the following are taking a `style.float` instead of a normal `float`.

https://github.com/Zaid-Ajaj/Feliz/blob/b255bb25a22ce71e3eb02f4bb9d403fc2612b7b3/Feliz/Styles.fs#L2037

![image](https://user-images.githubusercontent.com/53196138/89750072-06a76180-da90-11ea-9ad3-ebc94f9a911a.png)

[2020-08-10 03:54] Shmew commented on #248
Oh that's bad, whoops. I pushed out 1.12.1 to rename `style.float` to `style.float'`. Should be up soon.

[2020-08-10 19:14] zanaptak commented on #248
Verified fixed.

[2020-08-10 19:14] #248 closed

[2020-08-15 19:17] Zaid-Ajaj opened #251 "Separate out Svg module from Html"
As described in [this comment](https://github.com/Zaid-Ajaj/Feliz/pull/249#issuecomment-673346806) to solve the ambiguities between Html attributes, Svg attributes and CSS properties. The idea is properly support SVG attributes alongside the CSS equivalent:
[code]
I suggest to implement it in a  non-breaking fashion: make current Svg attributes implemented in `Html` module `[<Obsolete>]` and re-im

[2020-08-16 19:20] Zaid-Ajaj commented on #190
I will assume Preact support is fixed, please re-open if the issue persists :smile:

[2020-08-16 19:20] #190 closed

[2020-08-25 21:45] AlbertoDePena opened #252 "The type 'AddEventListenerOptions' is not defined"
Getting this error when running: `npm run start`

[code]

[code]

[code]

[code]

[code]

[2020-08-25 21:57] Zaid-Ajaj commented on #252
Hi @AlbertoDePena, can you please try install latest `Fable.Browser.Event` package explicitly into the project to fix this?
[code]

CC @MangelMaxime I think Fable.React needs to update to latest `Fable.Browser.Dom` because this problem is creeping up all the way up to Feliz :/

[2020-08-26 10:05] MangelMaxime commented on #252
The error seems different than the overload one we saw before. By default, dotnet restore/install should restore the latest version of the transitive dependencies or the version that has been locked by a dependency. And TBH I don't think anyone locked the version to one of the versions that cause problems.

This time it complains about not finding the type `AddEventListenerOptions` which has not b

[2020-08-26 12:39] AlbertoDePena commented on #252
@Zaid-Ajaj Adding `Fable.Browser.Event` did the trick...

@MangelMaxime  here is the repo I am using [text-classification (elmish branch)](https://github.com/AlbertoDePena/text-classification/tree/elmish)

[2020-08-26 14:13] MangelMaxime commented on #252
I spoke too quickly `AddEventListenerOptions` is a rename from `EventTargetOptions`

The problem is kind of coming from `Feliz.useListener` because @Shmew forgot to add `Fable.Browser.Dom` to it's `paket.references` in it's commit [Update Fable.Browser.Dom dependency to fix breaking change](https://github.com/Shmew/Feliz.UseListener/commit/d2df2eb8e83a6e9b097fa2f1eabc026b00bff596#diff-b27553841b44

[2020-08-26 14:52] Shmew commented on #252
Ah yeah I didn't think about that. 😓

I'll update my library once we have Feliz targeting Fable.React >= 7.0.1 and put in a PR to Feliz.Router.

Thanks for the quick response @MangelMaxime! ❤️

[2020-08-27 02:33] bytesource opened #253 "Documentation > Using References > Example: HTMLInputElement not defined"
Hi,

I cannot get the example code on references to run because the unboxing fails.
https://zaid-ajaj.github.io/Feliz/#/Feliz/React/Refs

[code]

I only opened `Feliz`. Do I need to open another module?

Cheers,

Stefan

[2020-08-27 03:15] bytesource commented on #253
I found the problem: I needed to `open Browser.Types` to make the code work.

Keep up the good work!

Cheers,

Stefan

[2020-08-27 03:15] #253 closed

[2020-09-01 00:19] #252 closed

[2020-09-09 16:21] Shmew opened #257 "Make types static classes"
By applying the `AbstractClass` and `Sealed` attributes to things like `Html`, `props`, `style`, `color`, `React`, etc users can open them using the open static class feature.

so `Html` would look like

[code]

Is there any downside/reason as to why we shouldn't implement this?

How does this work when we have both a module and type?

[2020-09-10 09:49] MangelMaxime commented on #257
Just adding a special case that can be encounter in some of Feliz libraries.

It is probably what you meant by "How does this work when we have both a module and type?" but just to be sure I prefer to mention it with an example :)

[code]

In Feliz.Bulma we do that in order to provide specialized helpers for components/element that can use different HTML element in the output.

User write: `Bulma.

[2020-09-15 16:27] olivercoad opened #258 "prop.rel is broken"
I want to add a canonical link element, but `canonical` is not yet a member of the `rel` type so I used the function instead.

[code]

This results in the following error

[code]

Workaround is to use a custom prop
[code]

[2020-09-15 19:10] Shmew commented on #258
Oh yep, I see the issue. I'll get this pushed out asap.

[2020-09-16 08:17] #258 closed

[2020-09-16 08:52] Zaid-Ajaj commented on #258
Fixed as of v1.13.2 :rocket:

[2020-09-16 09:07] olivercoad commented on #258
Thanks for the quick fix!

[2020-09-17 09:28] Zaid-Ajaj commented on #200
Actually hitting an edge case which this overload of `useState` solve when updating arrays. Closures cache the data used from the state values that are created on the initial render. This overload avoids using cached data in closures and instead tabs into the data from cached in React state tree.

See related issue in [React#React Hooks useState updating an array](https://github.com/facebook/react

[2020-09-17 09:37] Zaid-Ajaj commented on #200
Workaround
[code]

[2020-09-17 11:04] Shmew commented on #200
LGTM

[2020-09-19 21:23] #200 closed

[2020-09-19 21:23] Zaid-Ajaj commented on #200
Added as of v1.14 :rocket:

[2020-09-28 18:58] nojaf opened #260 "snowpack and react-refresh question"
Hey @Zaid-Ajaj
I'm playing around with [snowpack](https://www.snowpack.dev/) and have a `fast refresh` related question.

In short:
- snowpack dev server uses `react-refresh`
- Goal is to use this in combination with `fable-splitter`, compile F# to js and snowpick just picks it up like any other JS file.
- Sample: https://github.com/nojaf/snowpack-fable-bug
- Normal Fable components refresh is get

[2020-09-28 22:05] Zaid-Ajaj commented on #260
Hi Florian, this is the [same issue](https://github.com/Zaid-Ajaj/Feliz/issues/203) that blocks Feliz from fully using `fast-refresh` whether it is with snowpack or webpack.  The problem is in how the generated code looks like and how fast-refresh actually picks it up. There are special requirements which the generated code doesn't adhere to in order to be picked up: the value definition of the fu

[2020-09-28 22:05] Shmew commented on #260
That's interesting. Looking at the source code for `Fable.React` it seems that it's a side-effect from the caching implementation.

@Zaid-Ajaj and I have done a *lot* of tinkering to get it to work, and it's not really achievable while being user friendly currently. You can see the discussions in these two issues #157 and #203.

With Fable 3 (hopefully) coming soon and the implementation of a [plu

[2020-09-29 01:48] alfonsogarciacaro commented on #260
This indeed looks like a very good use-case for plugins! There's already an alpha version of Nagareyama (Fable 3) released and I'm just testing it with some production projects in order to polish issues and make an informal announcement with upgrade instructions. Plugins come next, most of the preparation work (cleaning up the AST and making it independent of FCS) is already done and there's alrea

[2020-09-29 19:30] nojaf commented on #260
Hey all, thanks for the thorough explanation!
Looking forward to Nagareyama, exciting times.

[2020-09-29 19:30] #260 closed

[2020-10-01 02:30] alfonsogarciacaro opened #261 "Feliz demo"
Is there something like Fulma demo written with Feliz? https://github.com/MangelMaxime/fulma-demo

I would like to send a PR to upgrade it to Nagareyama that can be used as reference to others willing to try out Fable 3.

Thanks! @Zaid-Ajaj @MangelMaxime @Shmew

[2020-10-01 07:33] MangelMaxime commented on #261
Hello on my side, I think the only public "demo" I have is the Fable REPL so not really best suited for this usage.

[2020-10-01 08:23] Zaid-Ajaj commented on #261
Hi @alfonsogarciacaro, I think the best demo out there is actually the application in the `/docs` directory which makes up the docs at [zaid-ajaj.github.io/feliz](zaid-ajaj.github.io/feliz). It has many pages and uses many components

I also think trying out Fable 3 with the tests in Fable.SimpleJson repo would be great too because these have lots of Fable-specific code with respect to generics, e

[2020-10-01 14:00] Shmew commented on #261
The [Fable.Jester](https://github.com/Shmew/Fable.Jester) repo has a few hundred unit tests which includes rendering tests via react-testing-library. It's not a target that would be great for showing others how to try it out, but it's likely a very fast way to test out if it works as expected.

[2020-10-06 11:15] l3m opened #262 ""It just works" dotnet-based SSR for Feliz"
The thing I miss the most since switching from ```Fable.React``` is that even with ```Feliz/Feliz.ViewEngine```, SSR is painful. It can work, but requires care and ..well, work, and makes code ugly.

In ```Fable.React```, I was able to simply call a function and have all my stuff SSR'd. "It just works". And not only for SSR, it also helped me test much better and find some weird behaviors.

I woul

[2020-10-06 14:00] Shmew commented on #262
Yeah I'm not against that idea, it also keeps things synchronized.

[2020-10-08 06:14] Dzoukr opened #263 "Question: Feliz.ElmishComponents vs Feliz.UseElmish"
Hello friend, it's been a while I bothered you with some retarded question, so it's time for another take. 😂

Can you please somehow describe what is the difference between `Feliz.ElmishComponents` and `Feliz.UseElmish`? I see them both are React component having Elmish MVU parts. Are there any typical scenarios where you would choose one instead of another? I love easy of use of `Feliz.UseElmish`

[2020-10-08 06:52] Shmew commented on #263
So `Feliz.ElmishComponents` isn't very useful anymore, and predates `Feliz.UseElmish`. The reason for this is that originally `Feliz.ElmishComponents` was a class based component, which I rewrote as a function component. A bit after that, we realized that if it's a function component it's trivial to just convert it into a hook. That is how `Feliz.UseElmish` came to be. So now `Feliz.UseElmish` is

[2020-10-08 06:58] Dzoukr commented on #263
Thanks a lot, Cody!!! So if I get i correctly, `Feliz.UseElmish` is the default one, right now.

[2020-10-08 07:03] Shmew commented on #263
Yeah, we mostly still have `Feliz.ElmishComponents` around to not break people. You can consider it to be deprecated.

[2020-10-08 07:13] Dzoukr commented on #263
Perfect! Thanks again!

[2020-10-08 07:13] #263 closed

[2020-10-08 07:15] MangelMaxime commented on #263
If it is "deprecated" it could be a good idea to mark it "Obselete" and redirect people to the recommended API.

What do you think?

[2020-10-08 07:18] Dzoukr commented on #263
Yes, we are just discussing with colleagues from F# team that we should do PR to documentation (maybe with link to this issue)

[2020-10-08 07:56] Dzoukr commented on #263
Ok, I did it here - https://github.com/Zaid-Ajaj/Feliz/pull/264

[2020-10-08 08:44] Zaid-Ajaj commented on #263
Hi Roman, good question!

The difference like Cody mentioned is that `Feliz.UseElmish` is written with hooks as opposed to a full component implementation of `Feliz.ElmishComponents`.

However, that is not the entire story, because `Feliz.UseElmish` also follows _hook semantics_ when it comes to component re-initialization by the use of the dependency array as the last argument which is a big diff

[2020-10-08 08:50] Dzoukr commented on #263
Wow, typical Zaid's response. 😄 You should start teaching those things, man! I can finally understand. Thanks again! ❤️

[2020-10-09 15:23] Zaid-Ajaj commented on #262
Hi @l3m, I really like the idea and of course having things "just work" would be ideal for users. However, this will immensely complicate the implementation details of the library and shift focus. From day of building this library, I deliberately left SSR support because of the messy details I had seen within Fable.React.

The best compromise right now is to use Fable.React for the SSR parts and F

[2020-10-09 21:10] l3m commented on #262
@Zaid-Ajaj Hm, that's an understandable reason, however, the issue I see with this approach is that all dependent libraries will also not implement SSR. If it would be in Feliz, all dependent libraries would have it too.

Which basically would mean: Feliz can be used with SSR for non-toy projects (where SSR is actually needed) - as using pure Feliz with no additional library support seems a rarer

[2020-10-10 12:11] Shmew commented on #262
Yeah that's a pretty convincing argument imo. I *think* we can reduce the clutter a fair bit due to how the library is already structured. All (or the vast majority) of the elements for example all call the same 2-3 functions, same with most of the properties and such. So I believe for the most part it would just require modifications at those sources. There's some special stuff done in view engin

[2020-10-10 13:28] dbrattli commented on #262
Yes, I've been feeling the pain myself :disappointed:. Mostly because of the different namespaces resulting in a lot of `#if FABLE_COMPILER` throughout the files. But also that Ionide chokes on `ReactElement` of Feliz.ViewEngine not being the same as `ReactElement` of Fable.React. Porting all libraries from Feliz e.g `Feliz.MaterialUI` to .ViewEngine and keep them in sync will be painful. I guess

[2020-10-10 17:36] Shmew commented on #262
To see why we use `unbox<string>` when possible consider this:

`box`/`unbox` is erased at compile time since it's JS.

Doing `string i` compiles into this:

[code]

Doing `unbox<string> 1` compiles into this:

[code]

So if you have 10 properties that all use restrictions on the input but the actual representation is a string that property will get recalculated *every rerender* of that component.

[2020-10-10 17:44] Shmew commented on #262
Since most likely Fable 3 will involve a significant re-write, I think that's an opportune time to do this work while we fix the other issues @Zaid-Ajaj mentioned above. We're going to want to do this (I think it's very safe to say @Zaid-Ajaj is not against SSR, as much as against having mom's spaghetti spilled all over his code base), and I believe it will be the least painful/messy if it's done

[2020-10-16 09:16] halcwb commented on #261
For a demo written by a non-professional programmer like me: http://gencalc.nl. Demonstrating how awesome Feliz is.

I think a list of web apps written using Feliz would be very useful.

[2020-10-16 10:58] alfonsogarciacaro commented on #261
This is great @halcwb, thanks a lot! If the source code is available somewhere I can send a PR to upgrade Fable to Nagareyama and see how it works.

[2020-10-22 10:12] halcwb commented on #261
@alfonsogarciacaro: These apps are created with Feliz and Feliz.MaterialUI:

- https://github.com/halcwb/PediatricRiskCalculator
- https://github.com/halcwb/PICEDashboard
- https://github.com/halcwb/GenPedForm

The PediatricRiskCalculator is a client app only.

[2020-10-23 07:13] CallumVass opened #267 "Trying to use prop.min with a DateTime but it only allows int or float"
Hi,

I tried using prop.min with a DateTime, however, it wasn't possible as it only allows int or float values.
To get around it I did the following which seemed to work:

`Interop.mkAttr "min" minDate` where `minDate = myDate.ToString("yyyy-MM-dd")`

So a possible solution could be to add an overload to the `min` property like so:

[code]

If you're happy with that solution, I'm happy to create a

[2020-10-23 07:18] CallumVass opened #268 "What's the purpose of prop.valueAsDate?"
Hi,

I tried using prop.valueAsDate like so:
[code]
However, this gives off a warning and doesn't work as I expected (the input didn't have the value set):

    React does not recognize the `valueAsDate` prop on a DOM element

To get around it, I did the following
[code]

So I just want to know what the purpose of `valueAsDate` is? It doesn't seem to provide anything and leads to confusion?

[2020-10-23 07:54] Shmew commented on #268
Looks like this is an [issue with React](https://github.com/facebook/react/issues/11369), we should probably comment this property out until that's resolved.

[2020-10-23 08:12] CallumVass commented on #268
Oh wow. That's an old issue. Judging by the comments it looks like `valueAsNumber` won't work either but I haven't tried that

[2020-10-23 08:12] Shmew commented on #267
Ah, yeah that's a good idea. You can pass numbers here and since `Date`'s primitive value is a number you can actually just give it that (at least I know you can with `value`).

[code]

If it gets picky with that you can call `Date`'s `valueOf()` instance method on on the `DateTime` like this: `value?valueOf()`.

Yes, a PR is very much welcome!

[2020-10-23 11:39] CallumVass commented on #267
Hi,

I've added min as DateTime. Additionally to test it I added a new test page for the inputs function which wasn't being used in the Example file.

[2020-10-23 15:25] #267 closed

[2020-10-24 12:27] CallumVass commented on #268
Closing as this is an issue with react. Not with Feliz.

[2020-10-24 15:07] Zaid-Ajaj commented on #268
@Shmew maybe we do the conversion internally in Feliz when the input is a date? I am just not sure whether the format is culture-specific or that it needs a higher precision to include the time of the day, not just the date 🤔

[2020-10-24 15:30] Shmew commented on #268
Yeah, I'd personally rather just comment them out, but both sound fine to me.

[2020-11-01 17:50] Zaid-Ajaj opened #271 "[chore] Update all packages to latest Feliz"
And align FSharp.Core version, should be v4.7.2 across the libraries.

[2020-11-01 17:51] Zaid-Ajaj opened #272 "[chore] Implement Feliz.Router using [<ReactComponent>]"
Publish a new version of Feliz.Router that uses latest Feliz to be able to apply the [<ReactComponent>] attribute

[2020-11-01 17:52] Zaid-Ajaj commented on #251
Would be awesome if you someone could take a stab at this one so that it will be added as part of the new stuff for Fable 3

[2020-11-02 02:54] Shmew commented on #251
I wanted to do this but I'm kinda swamped right now with other projects. Depending on when Fable 3 actually is planned to release I *might* be able to swing back and grab it. Probably won't be for a couple weeks at least

[2020-11-02 02:57] Shmew commented on #272
Does using `React.functionComponent` not essentially apply this? Is that feasible? It would automatically enable any library using Feliz to automatically start using the plugin with just a version upgrade.

[2020-11-02 08:52] Zaid-Ajaj commented on #251
That's alright Cody, I know you are busy with really cool projects. I am keeping this issue open hoping more contributors would jump in if they want to since this one is quite straightforward :smile:

[2020-11-02 08:53] Zaid-Ajaj commented on #272
Yeah you are right! I forgot to implement the plugin for `React.functionComponent` I believe it should be possible. Will take a look at shortly!

[2020-11-03 23:13] gaku-sei opened #273 "Question: useEffect instead of useLayoutEffect in useCallbackRef? (aka improve server side rendering compat)"
Hello @Zaid-Ajaj 😄

It seems the `useCallbackRef` hook uses `useLayoutEffect` under the hood (https://github.com/Zaid-Ajaj/Feliz/blob/4ec506747ca6baf155fed1d8c45d930e817887df/Feliz/React.fs#L393). This leads to some issues with server side rendering (you can see here for more details: https://gist.github.com/gaearon/e7d97cdf38a2907924ea12e4ebdf3c85).

As per the comment (`// render is commited - i

[2020-11-08 17:17] aitoroses opened #274 "useEffect hook usage with dependencies proposal"
Current hooks API is not ergonomic enough when working with dependencies, it requires to cast always the used values as objects. It would be interesting to use an API more similar to what `reason-react` does [here](https://github.com/reasonml/reason-react/blob/master/src/React.re#L214), by creating specialized functions:

**Current**

[code]

**Proposal**

[code]

This applies for other hooks too!

[2020-11-15 01:26] Zaid-Ajaj commented on #273
Hi there @gaku-sei,

To be honest, I haven't played with Feliz yet in the context of server-side rendering but I believe we *can* replace `useLayoutEffect` by just `useEffect`. @Shmew Any concern about this?

[2020-11-15 01:30] Zaid-Ajaj commented on #274
Hi there @aitoroses,

The reason we are using a dependencies array, is to keep the public API as close as possible to its React equivalent and reduce the number of function overloads because those lead to mangled JS output filled with overload hashes generated by Fable.

I tend to believe that having just an extra function call to `box` on each array element shouldn't be that much big of a deal bu

[2020-11-15 01:30] Zaid-Ajaj commented on #66
This has been fixed :) thanks @kaashyapan

[2020-11-15 01:30] #66 closed

[2020-11-15 09:21] Shmew commented on #273
Using `useEffect` over `useLayoutEffect` causes issues, I explicitly remember testing the two out. I can't remember what exactly the issue was that occurs when you swap them out though; I wish the FSSF slack had more history in times like these 😩.

[2020-11-15 09:35] Shmew commented on #274
I also want to point out that `box` and `unbox` are erased by Fable during compilation, so there's no runtime issues with this.

It is possible to add these overloads and do it in such a way that it's erased, but it still diverges from the React API. They also would need to be non-optional otherwise it can't resolve the correct overload:

[code]

You'd also then need to add overloads for when they

[2020-11-15 17:38] #271 closed

[2020-11-18 08:24] albertwoo commented on #157
I find something which maybe useful.
Here is [my repo](https://github.com/albertwoo/FablePlayground) to try.

After run `dotnet fsi build.fsx`, the output js will put under `src\Client\www\fablejs`
My Counter functional component is like:
[code]
It will generate js like below. Under folder `src\Client\www\fablejs\Counter.js` I can edit and trigger `parcel` to update.
I replaced old `reactElement`

[2020-11-18 09:44] Zaid-Ajaj commented on #157
Hi there @albertwoo,

Can you please update Feliz to v1.17.0 and see if it works for you? Because fast-refresh *is* working as of that version and the latest set of dependencies of webpack and friends. Please see [SAFE.React](https://github.com/Zaid-Ajaj/SAFE.React) where you can see how it is working there as is without changing `reactElement` to `createElement`

I am also noticing you are using

[2020-11-18 10:32] albertwoo commented on #157
But the SAFE.React is using `@pmmmwh/react-refresh-webpack-plugin` which I think is different with the fast refresh from react repo right? Maybe I am wrong.
But if I change `reactElement ` to `createElement` it works correct. Isn`t it better to make the generated code close to react style as much possible?

I tried to upgrade Feliz to 1.17.0. And I was using parcel `2.0.0-nightly.447`. But still n

[2020-11-18 10:41] Zaid-Ajaj commented on #157
The webpack plugin is using `fast-refresh` as a peer dependency v0.9.0 can you please check inside your package-lock-json file which version of fast-refresh is being used and whether is it using latest?

It is. However, `reactElement` is simply an alias for `createElement` so they should be exactly the same if the fast-refresh plugin is recursively going through the imports (which I think it is do

[2020-11-18 10:48] albertwoo commented on #157
I am using 0.9.0 for `react-refresh` too.

I may try again when parcel 2 production version is released.

[2020-11-18 10:56] Zaid-Ajaj commented on #157
@albertwoo Can you give the following a try and see if it fixes the problem?

Inside of `./www/fablejs/.fable/Feliz.1.17.2/Interop.fs` change the source of `reactElement` function from
[code]
to
[code]

And see if that fixes the import and uses `createElement` directly instead of a library function

[2020-11-18 12:09] albertwoo commented on #157
Edit `./www/fablejs/.fable/Feliz.1.17.2/Interop.fs` does not trigger fable to recompile. I may need to look into further.
Another strange thing I noticed that is under the  folder `fable` of Feliz nuget pacakage there are generated `.fs.js` for every `.fs` files. Is it right. Because I noticed other package did not have those.

[2020-11-18 12:12] Zaid-Ajaj commented on #157
This is correct, Fable compiles the sources of the packages. About my suggested, fix, please ignore it because it doesn't work. I just tested it out 😓

[2020-11-18 12:17] albertwoo commented on #157
So this is meant to be?
![image](https://user-images.githubusercontent.com/8017681/99529570-fed65200-29da-11eb-8c2e-f76ac9bd2fd8.png)

[2020-11-18 12:18] Zaid-Ajaj commented on #157
I think some .fs files don't have an equivalent .fs.js file because they aren't used. Which makes sense for Fable.React because Feliz only uses an alias of a type definition from there :smile:

[2020-11-18 12:21] albertwoo commented on #157
Ok. It is confuse for me because I thought that library author only need to put `.fs` file in the nuget package.

[2020-11-18 12:23] Zaid-Ajaj commented on #157
Yes, library authors only put F# source code in there, Fable compiles those to JS module and puts them relative to where the F# source code was placed.

[2020-11-18 12:36] albertwoo commented on #157
I think `fable` will compile those file under our own project folder right? My screenshot shows that under nuget cache folder the Feliz package itself already have those `.fs.js` files which should not be there. And I see the Feliz.fsproj copied all .js files. I think it should exclude `*.fs.js`:
https://github.com/Zaid-Ajaj/Feliz/blob/30544a5757517f090cac627be264472db2ea9afd/Feliz/Feliz.fsproj#L2

[2020-11-23 06:00] Zaid-Ajaj commented on #251
Just FYI, this is now ⚠️ work in progress ⚠️

I think I will take this back :joy:

[2020-11-23 06:03] Zaid-Ajaj commented on #203
Almost done, waiting on two issues:
 - [Exporting an alias to a CSS module breaks react-refresh and causes full page refresh](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/260) for scoped stylesheet modules unless they are marked `private`
 - [Using extended classes for props doesn't get picked up by react-refresh](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/258)

[2020-11-24 01:39] Rekeyea opened #280 "Question: Global Elmish"
Hi!
First of all Great Work building this library! It's amazing!
I wanted to ask how this played with Elmish. I know there's the useElmish hook but as I understand It only works at the Component level. But what If I wanted a global state to share data?
I tried building my own hook on global state and the definition ended up like this:

[code]

Then I'd use a hook to get the "global" state and disp

[2020-11-24 05:03] Shmew commented on #280
React is a tree so any usage of `useElmish` can be pulled up any number of levels until you hit the root component of your application. The issue here is due to the nature of the hook it's going to cause the root component to re-render when the model changes. It should actually be pretty easy to create an extension to the context API as part of the `useElmish` library.

This would end up looking s

[2020-11-24 05:52] MaxWilson commented on #280
Is there a reason you can't just let the state be managed by Elmish as usual, as per https://zaid-ajaj.github.io/Feliz/#/Feliz/UseWithElmish?

[code]

Then you let your update function compute the new state in response to messages, per usual. No need for useElmish in this scenario.

[2020-11-24 07:39] Shmew commented on #280
Yeah you can do that, and for the most part it's fine. However, it will not work in the future without significant changes (React concurrent mode). I've also run into some weird behavior when mixing the two, but that's pretty rare.

[2020-11-24 12:38] Rekeyea commented on #280
But then how would I call the dispatch function in child components?

[2020-11-24 12:41] Rekeyea commented on #280
Yeah that's more or less what I tried to do. It's probably an implementation problem on my side and not knowing how to do the createElmishContext part.

[2020-11-24 13:21] Zaid-Ajaj commented on #280
Hi @Rekeyea, if I understand correctly, you  simply want to Feliz as part of an Elmish application following Elmish patterns? Then you can *just* use it in parts of the `view` with or without React components and it will work because it is compatible with the existing Elmish implementation without using React context features.

Feliz.UseElmish hook is made to simply the composition patterns of Elm

[2020-11-24 13:32] Rekeyea commented on #280
@Zaid-Ajaj I can pass the state and dispatch all over the children, that I know. However, is this a good thing to do? Redux for example uses this pattern of using a hook in the components that need the global state and dispatch.
 I read the book and think it's amazing but couldn't find a solution to passing both dispatch and state all over the place. Maybe it's just how it should be done and I'm o

[2020-11-24 13:45] Zaid-Ajaj commented on #280
It depends. Using React context to pass the dispatch and state into each child components is simply an easier way of passing the them explicitly down as parameters/props so it is really the same the thing IMO. However, when using the Elmish way to pass dispatch and state, you are really passing a *derived* version of them:
  - `let childDispatch = fun childMsg = dispatch (ChildMsg childMsg)`
  - `

[2020-11-24 13:54] Rekeyea commented on #280
Yeah I agree that each component should only see the state it cares for, and If passing the state explicitly is how it should be done then I'll do it that way.
Thanks everyone for the discussion :-D

[2020-11-24 19:13] Shmew commented on #280
Passing state/dispatch down through props isn't right *or* wrong. It's just one of the ways to handle this problem. In fact, I'd argue that unless you're hiding the actual state away in a component and then using a callback to send down to the other children it's strictly worse than using context as you're going to re-render anything that passes properties through rather than just the points where

[2020-11-25 11:09] Dzoukr opened #283 "[<ReactComponent>] vs React.functionComponent in React refresh"
Hello friend,

as naive wannabe frontend dev I came into interesting behavior:

Based on your docs, I favour using `React.functionComponent` to create components because I can also specify the name of component for better debuging. Funny thing comes with react refresh.

Code like this always trigger full page reload when doing any change in code:

[code]

![image](https://user-images.githubusercon

[2020-11-25 18:09] Shmew commented on #283
The attribute will be the way to go in the future, and is necessary for react-refresh to work.

[2020-11-26 00:51] Zaid-Ajaj commented on #283
Hi Roman,

This is a really good question to which there is no short answer, here we go.

Though once I sort out my internet issues at home, I will resume streaming again where I explain this in excruciating details 😁

First of all, I want to point out that the documentation are in an unfortunate transitional state: basically out of date with latest Feliz and `[<ReactComponent>]` goodness until we

[2020-11-26 06:59] Dzoukr commented on #283
Wow! Just... WOW! Silly person asks stupid question and smart guy answers with three A4 sheets full of relevant information and explanations. 🤯 You just rock, man! Thanks a lot! ❤️ Now I understand and will start using Attribute instead.

Is it still recommended to name components somehow (like we did using the first parameter of `React.functionComponent`) or this it's not necessary anymore for at

[2020-11-26 09:33] Zaid-Ajaj commented on #283
Awesome! Let me if you encounter any problem 😉 right now the only issue to be aware of is using a *record* type as input props will be just a little bit problematic for React-refresh, so you can use an anonymous record instead or primitive parameters. I am hoping the issue is fixed soon so that I can document `[<ReactComponent>]` without having any caveats.

No, the only requirement is that the co

[2020-11-26 15:58] Zaid-Ajaj commented on #157
@albertwoo Since Feliz v1.18 (now v1.19) the output of Feliz uses `createElement` directly without an intermediate `reactElement` function call in-between. Can you give it a try and see if it fixes your issue?

[2020-11-26 21:48] Shmew commented on #283
@Dzoukr the only reason to use names for your react components is to make debug tooling better.

[2020-11-27 02:43] albertwoo commented on #157
@Zaid-Ajaj just tried, it works perfect 👍👍👍

[2020-11-27 07:10] Dzoukr commented on #283
@Shmew Yup, but there is no overload on ReactComponent constructor for adding such name so that's why asked.

[2020-11-29 11:44] Dzoukr opened #286 "Same component name in different modules - Identified has already been declared error"
Hello friend,

I am not sure (again 😄) if this is me doing something stupid or it's bug.

I have two components named "view" and decorated with `[<ReactComponent>]` attribute. Each of them in different module. Having code like this results in error during fable build:

[code]

Funny thing is, that when I name them "View" (with upper-case V), it works.

[2020-11-30 00:02] Shmew commented on #286
I suspect this is a conflict between plugins and Fable's name collision resolution.

cc @alfonsogarciacaro

[2020-11-30 01:47] alfonsogarciacaro commented on #286
When you say different modules, you mean different files, right? When the function name starts with lower case the plugin converts it to upper case to play better with React tooling. Not sure in what point exactly, but I assume this is conflicting with Fable name collision resolution and it causes two references to have the same name. There are two ways to solve this:

1. Add more compiler and plu

[2020-11-30 02:10] Zaid-Ajaj commented on #286
@Dzoukr Nah, this is a bug in the code generation of the plugin :smile:

@alfonsogarciacaro Emitting a warning is probably the way to go, I'll rework the compiler plugins soon before I start working on the documentation & caveats. First, I am trying to figure out why records break React tooling...😓

[2020-11-30 07:11] Dzoukr commented on #286
HA! Finally something 😄

Yup, it's in different file, but no problem, I can name them by myself (and agree with @alfonsogarciacaro that probably well documented rule with compiler warning would be easier for you and cleaner than some kind of black magic).

[2020-12-01 08:05] KingKnecht opened #287 "Q: How to format document?"
If I use fantomas to format my document I get a pretty hard to read format. E.g.:

![image](https://user-images.githubusercontent.com/4339172/100713015-f820e500-33b3-11eb-9d0b-8e264f590c3d.png)

becomes:
![image](https://user-images.githubusercontent.com/4339172/100713116-11c22c80-33b4-11eb-90e9-1c2717e7a7cb.png)

How do you format you documents? Manually?

Thx,
Sven

[2020-12-01 18:47] Shmew commented on #287
This should be all you need for decent output now:

[code]

You can test out the settings using [this handy site](https://fsprojects.github.io/fantomas-tools/#/fantomas/v4).

[2020-12-01 20:22] KingKnecht commented on #287
@Shmew That saved my life. I spent more time with formatting than with actual coding ;-)
For others:

- Make sure "EditorConfig" extension is installed.
- Right click in the source file tree, choose "Generate .editorconfig"
- Insert
`[*.fs]
fsharp_single_argument_web_mode=true`

be happy.

It would be nice to have the config globally. But haven't figured it out how to do that, yet.

[2020-12-01 20:22] #287 closed

[2020-12-02 22:57] #286 closed

[2020-12-02 22:58] Zaid-Ajaj commented on #286
Hi Roman, latest Feliz v1.22 has been pushed to nuget and it will no longer automatically uppercase the function name. Instead, it will emit a compiler warning that tells kindly asks you to do it yourself which allows Fable to resolve naming collisions on its own :smile:

[2020-12-02 22:59] Dzoukr commented on #286
Thanks a lot, mate!

[2020-12-05 06:01] alfonsogarciacaro opened #288 "useElmish ringbuffer"
@Shmew Not sure if it's a silly thing, but I was thinking the other day if it would make sense to use a singleton for the ringbuffer that managed the messages of all components (the messages would be boxed and contain a reference to the target). This would have the benefit of not allocating an individual ring buffer per component and it may also make it easier to log all the messages from the app.

[2020-12-06 12:43] Shmew commented on #288
Yeah that would be nice. The only issue is the entire thing needs to stay inside the React tree in order to be compatible with concurrent mode. This can be solved by using something like context as way of fetching the dependency, but it sounds like it may be a little tough in addition to requiring the user to provide a context provider.

[2020-12-06 13:06] alfonsogarciacaro commented on #288
Ah, I see. Didn't think of the concurrent mod e, thanks a lot for the explanation! Ok, will close for now and maybe we can revisit later.

[2020-12-09 21:34] Lenne231 opened #290 "Bug when calling a function component with `[<ReactComponent>]` directly from another function component with a `[ReactComponent]` attribute"
Hey Zaid,

thanks for your great work. Working with the new `[<ReactComponent>]` is fun to work with!

I found a bug when calling a function component with `[<ReactComponent>]` directly from another function component with a `[ReactComponent]` attribute.

# Exptected behavior

[code]
compiles to the following javascript

[code]
# Actual Behavior

the same F# code compiles to

[code]

# The whole e

[2020-12-10 06:13] Zaid-Ajaj commented on #290
Hi there @Lenne231, thanks a lot for the detailed issue, I will have a look

[2020-12-10 07:08] #290 closed

[2020-12-10 07:09] Zaid-Ajaj commented on #290
Fixed as of Feliz v1.24 🚀 can you please give it a try to see if issue is resolved?

Re-open the issue if the problem persists 😉

[2020-12-10 19:42] Lenne231 commented on #290
Thanks for the fix, works as expected now :smiley:

[2020-12-11 23:48] alfonsogarciacaro opened #294 "[<ImportedReactComponent("Foo", from="bar")>]"
We should add an additional attribute to model imported components and so the same transformations in the call site. So we can use either optional arguments or (anonymous) record props easily:

[code]

This is so I don't forget, I will try to send a PR myself.

[2020-12-12 00:32] Zaid-Ajaj commented on #294
Oh that would actually be really cool 😍

Why not use the same the attribute, though?

[code]
I personally like this better, what do you think?

[2020-12-12 00:50] alfonsogarciacaro commented on #294
That should work too 😄

[2020-12-12 00:59] alfonsogarciacaro commented on #294
My future me just tells me there may be an issue in the future if we want to make plugins work in the REPL, because currently I'm using `System.Activator` to initialize the plugin and in Fable this only works with the primary constructor. But optional arguments are not allowed for attribute constructors so we need to use multiple constructors.

Anyways, it won't be possible to always avoid attribu

[2020-12-12 03:50] VitalyBrusentsev commented on #294
In case you guys go with a separate attribute, I would suggest using a verb instead: `[<ImportReactComponent>]`.
This would keep it consistent with JS interop attributes (like `[<ImportDefault>]`).

[2020-12-12 03:56] Zaid-Ajaj commented on #294
@VitalyBrusentsev I think I will give just  try new parameters inside the same `[<ReactComponent>]` a try instead of a new attribute

@alfonsogarciacaro I am trying it out right now

[2020-12-12 06:34] #294 closed

[2020-12-12 06:37] Zaid-Ajaj commented on #294
@alfonsogarciacaro Published Feliz v1.25 which should allow you to write
[code]
Where the body of the `HelloWrapper` returns `null` because we can't get rid of the declaration and on call-site, the imported function is used instead with the applied parameters

[2020-12-13 02:15] Zaid-Ajaj opened #296 "Documentation/Tests Rewrite"
I believe that the new `[<ReactComponent>]` is in a really good shape now and can be safely used as an alternative to the old `React.functionComponent`.

What is left to be done is rewriting the docs to use Fable 3 and remove all references to `React.functionComponent`, especially the `React Components` tab that explains the various concepts and the common pitfalls page. Then document all the good

[2020-12-17 10:28] Zaid-Ajaj commented on #251
Implemented as of v1.28 via #279

[2020-12-17 10:28] #251 closed

[2020-12-17 10:31] Zaid-Ajaj commented on #257
@Shmew Is this still an issue? latest F# features work fine with the static as they are now, correct?

[2020-12-17 23:31] alfonsogarciacaro commented on #288
Sorry @Shmew, I keep thinking about this 😅 If I'm not mistaken (though I might very well be) the ring buffer is used in Elmish because it needs to be compatible with platforms where the UI and the update function may run in different threads. But `useElmish` will only run in JS, so why not just do something [like this](https://github.com/fable-compiler/Fable.Svelte/blob/09f7204f6cf7d2f78d11ae49a88

[2020-12-18 22:31] alfonsogarciacaro commented on #288
Maybe I can answer myself: is the ring buffer used to make sure the messages returned by the commands are delivered in the same order the commands were created? This makes sense although it can still be surprising for a user if they launch 2 http requests, the first gets blocked for some reason and this prevents the response from the second one.

[2020-12-19 04:31] alfonsogarciacaro opened #298 "Make Feliz an abstract API"
I'm about to propose a breaking change, but hopefully one that only requires final users and library authors to update packages and no actual code changes.

1. F# is a great language to declare UIs
2. Every F# developer who does something web-related write their own DSL to declare UIs
3. Feliz is a great API/DSL to declare React web UIs

What if we removed "React" from 3? This could solve many iss

[2020-12-19 08:08] Zaid-Ajaj commented on #272
Actually this isn't needed after all, only components written in the application itself seem be affected by the fast-refresh plugin

[2020-12-19 08:08] #272 closed

[2020-12-19 08:36] Zaid-Ajaj commented on #298
Hi @alfonsogarciacaro, to be honest with you I don't _feel_ like this is a good idea. Theoretically it makes sense of course: let's build a standard API for HTML in Fable. In practice, that doesn't translate very well. Here are a couple of reasons:
 - The current API is anything but standard, in fact it very opinionated. Many people still don't like the whole single list and `prop.children` thing

[2020-12-19 15:19] alfonsogarciacaro commented on #298
Thanks a lot for the reply @Zaid! I understand your reasoning, it's still a pity that we have so many competing DSLs but maybe there are other solutions as you say. If I find time I'll try to write a prototype anyways to see how it would work.

[2020-12-19 15:19] #298 closed

[2020-12-21 01:22] EverybodyKurts opened #299 "Questions re: Feliz & Elmish"
I'm looking at the Feliz/Elmish code sample found here in the docs https://zaid-ajaj.github.io/Feliz/#/Feliz/UseWithElmish:

[code]

However, I'm using the basic Feliz template and am unsure how to integrate this code with `Main.fs`:

[code]

Should I use `ReactDOM.render` or should I be using something like `Elmish.Program.mkSimple`?

[2020-12-21 01:50] EverybodyKurts commented on #299
I figured it out. I needed the `Elmish.React` nugget package as well. I then changed `Main.fs` to this:

[code]

[2020-12-21 01:51] #299 closed

[2020-12-21 20:25] Shmew commented on #257
Yeah I saw a thread on twitter of someone opening them as they are now.

[2020-12-21 20:25] #257 closed

[2020-12-21 20:35] Shmew commented on #288
I hadn't ever given it much thought since that's how normal Fable elmish is run.

It never awaits on any promises, so there shouldn't be any blocking. It might be able to function fine just using a normal collection.

[2020-12-22 21:53] alfonsogarciacaro commented on #288
Thanks for checking @Shmew! Sorry I'm getting a bit obsessed with the ring buffer. It's just I remember all the discussions we had about asynchronous updates in Elmish and it concerns me a bit that we have a piece of code we don't really know what it's doing. IIRC the ring buffer was a replacement of MailboxProcessor precisely because it wasn't really asynchronous in Fable.

Users are also always

[2020-12-24 05:45] Gastove commented on #283
So, continuing the `[<ReactComponent>]` vs `functionComponent` questions: hooks!

I've got a component that needs to initialize some state. Fortunately, we have many fine hooks available! I write this:
[code]
Alas, when I try to run this, my console is sad and full of errors:
[code]
I've been through the react debug steps above; none appear to be true. Should this be working? Is this a Fable 3 onl

[2020-12-24 08:03] landy commented on #283
My understanding is that the reactcomponent attribute needs fable 3 to work because it is a fable 3 compiler plugin

[2020-12-24 10:30] Shmew commented on #288
Currently all of the processing is done as a promise.

Yeah it's worth doing some profiling to see if the data structure is slow and if it's even needed. The thing is it is nice since we do want a FIFO rather than a stack. I did do profiling when I was writing all of this and it was pretty quick as far as I could tell. It's a shame FSSF Slack doesn't have history as I sent pictures to @Zaid-Ajaj (

[2020-12-24 18:23] Gastove commented on #283
@landy ah, that'd sure do it. Lemme get Fable 3 working, will report back in a minute

[2020-12-24 18:30] Gastove commented on #283
Hey! Yep, that fixed me -- I used [this PR](https://github.com/MangelMaxime/fulma-demo/pull/43) as a guide for the conversion.

[2020-12-25 09:38] alfonsogarciacaro commented on #288
Thanks @Shmew! I was not so concerned about the performance (though that's very important too) but about the complexity to understand what exactly `useElmish` does. Basically my question would be, if the commands are just functions accepting a dispatch function, why do we need a structure at all instead of just firing those functions immediately (or wrapped in a promise or a `setTimeout`).

[2020-12-25 13:58] Zaid-Ajaj commented on #288
Let's reopen the issue and see how we can simplify the structure used, if a ring buffer isn't needed then we can remove. I thought this was the way to simulate a `Program.withReactSynchronous` but I am not sure anymore. At least, I think the implementation should be like that anyways without input element weirdness etc.

[2020-12-28 18:06] Shmew commented on #288
So we do fire off all new commands immediately, the main thing is that we want to ensure the message queue is FIFO. We could do this using a list by creating a new list and appending it, or reversing the current list and then adding it to the head followed by another reverse. Both of those are just going to be doing what this data structure does though. I *think* this would be slower as well, but

[2020-12-30 01:05] alfonsogarciacaro opened #304 "Higher Order Components"
Is there any solution/recommendation for working with React HOC in Feliz? I wonder if we could make them work with the `ReactComponent` attribute. Maybe something like:

[code]

However, there's a [recent issue](https://github.com/fable-compiler/fable-react/issues/212) in Fable.React repo to use "react-i18next" that presents a couple of challenges:

1. The HOC must be called in curried form, like

[2021-01-02 23:23] MangelMaxime opened #306 "Feliz.UseElmish should not include the generated JavaScript."
When trying to use Feliz.UseElmish I had some weird error about file not being found under a `docs` folder.

- `/fableBuild/.fable/docs/.fable/fable-library.3.0.0-nagareyama-rc-007/Option.js`
- `fableBuild/.fable/docs/.fable/Fable.Promise.2.0.0/Promise.fs.js`

While I don't have a `docs` folder in my project. It happens that Feliz.UseElmish is including the generated JavaScript file:

![image](htt

[2021-01-05 08:13] MangelMaxime commented on #157
I am working on an experimentation using Feliz and wanted to test Fast Refresh and I wanted to share my experience as I spent my evening on it yesterday.

The support for Fast Refresh is done in majority by the bundler tools which have can their own implementations.

- webpack can support it via [react-refresh-webpack-plugin](https://github.com/pmmmwh/react-refresh-webpack-plugin). However, the in

[2021-01-07 16:23] Shmew commented on #306
Yeah the project doesn't need any JS, so we should probably just remove that inclusion (and any other fsproj that have `*.js` besides `Feliz` proper).

[2021-01-10 06:05] Jmaharman commented on #203
Isn’t the issue with both of these problems that you can only export React components from a file if fast refresh is going to work? I.e you cannot export anything else, otherwise it cannot create the boundary and goes up the tree?

[2021-01-11 01:17] alfonsogarciacaro opened #308 "ReactComponent: memo"
We should have an option to memoize functions using `ReactComponent` attribute. The trick is we cannot make references to functions from the attributes so we cannot specify a custom equality function for props, so we can:

- Rely on React's default: swallow structural equality I believe.
- Provide our own default: we usually had swallow structural equality **but functions** to ignore the `dispatch

[2021-01-11 20:01] bzuu opened #309 "Support for pointer-events and touch-action"
Hi, it would be nice to have support for the [pointer-events](https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events) and [touch-action](https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action) CSS properties. I'd be happy to submit a PR for this. The one thing I am not sure about is what to do with the SVG only values for pointer-events, e.g. `visiblePainted`. Should these be inclu

[2021-01-11 20:43] Shmew commented on #309
Since SVG is separated from the normal properties you can just copy and paste the `pointerEvents` type and then add the two additional lines (and change the attribute call on all of them of course).

[2021-01-11 21:21] bzuu commented on #309
@Shmew thanks, I didn't realise the SVG stuff was separate (or even included at all). I was mostly wondering if the properties should be added or not for the HTML side of things as they are marked as experimental for HTML. Would it perhaps be a good idea to include all values for both HTML and SVG and mark them in HTML with the `Experimental`  attribute? Similar to [this](https://github.com/Zaid-A

[2021-01-11 21:34] Shmew commented on #309
Yeah you can add them in HTML with the attribute (it doesn't do anything, it's just more for us), at least I don't see an issue. Normally I try to avoid APIs that are not fully supported, but in this case every browser supports it, and has for quite some time. @Zaid-Ajaj can give his thoughts, but I suspect he feels the same way.

[2021-01-11 21:43] Shmew commented on #308
Dang, I spent a while trying to work something out until I realized you can't use hardly anything outside of literals in attributes.

Provide our own default: we usually had swallow structural equality but functions to ignore the dispatch function passed in Elmish components as prop. This would also bring another challenge because I didn't think of a good way to pack code in the plugins 😅

There s

[2021-01-12 03:19] alfonsogarciacaro commented on #308
Thanks for the input @Shmew!

- Passing `dispatch` function: Although the recommended way in Feliz apps now is to use `React.useElmish` in Elmish React apps (at least the apps I'm working on) unfortunately the pattern is still to pass the dispatch function all the way down the component hierarchy, this is way we came up with the `equalsButFunctions` helper.
- Use `React.memo`: This could be a solu

[2021-01-12 10:54] Shmew commented on #308
As long as you use react components throughout the entire application just calling `let dispatch = React.useCallback dispatch` at the highest level component should do the trick. Once you set that once you don't have to worry about it again. Ideally for that pattern users would still just use the elmish hook instead at the top level component. Something will have to give in that regard eventually

[2021-01-13 04:24] alfonsogarciacaro commented on #308
After reading for the nth time about `React.useCallback` and finding a use example online, I finally understand what you mean by "wrapping dispatch in a hook" 😅 Ok, I guess that should work and it seems it's the React-way of doing things so we can ask users to do that. It's just a pity we use Memo in the component itself and the `useCallback` must be used in the parent component, so it's much easi

[2021-01-14 21:04] Lenne231 opened #310 "Bug when using [<ReactComponent>] on a static member function with optional parameters"
Hi,

I found a bug when using `[<ReactComponent>]` on a static member function with optional parameters.

Feliz 1.32.0
Fable 3.1.1

### Expected behavior
[code]
compiles to

[code]

### Actual behavior

It compiles to

[code]

[2021-01-16 15:11] bzuu commented on #309
I am working on the PR for this, but while doing so I it seems like for SVG there is no support for any events as of yet or am I missing something? I can't find any Feliz SVG samples so perhaps I overlooked something.

As far as I can see  `prop.onClick` returns an `IReactProperty`, but the SVG elements expect `ISvgAttribute`. As the `pointerEvents` and `touchAction` properties which I am working

[2021-01-17 08:49] Shmew commented on #309
I believe those are different from the events you're thinking of, they should work for SVG.

[2021-01-17 09:09] bzuu commented on #309
@Shmew like I said, perhaps I am missing something, but I don't see how to attach an `onClick` handler to an SVG element in Feliz. If you can't do that, it doesn't make sense to me to influence its behaviour with the `pointerEvents` attribute. I wouldn't even be able to test if the new attributes work.

If you could provide a sample of how to attach an `onClick` handler using Feliz to an SVG eleme

[2021-01-19 21:15] Shmew commented on #309
This [blog post](https://www.smashingmagazine.com/2018/05/svg-interaction-pointer-events-property/) should help give you an idea of how this would be used with SVG.

[2021-01-20 03:48] alfonsogarciacaro commented on #298
BTW, I've started some work here: https://github.com/alfonsogarciacaro/Feliz.Engine/blob/main/src/HtmlEngine.fs

I haven't tested it, but I've removed al the `unbox` and similar tricks, so in principle it "should" work with any renderer that implements [this interface](https://github.com/alfonsogarciacaro/Feliz.Engine/blob/d365de42b3414554a11cf706267cc991eb297320/src/HtmlEngine.fs#L5-L12). It'd be

[2021-01-20 09:06] bzuu commented on #309
@Shmew thanks for the link, I really appreciate your help. Unfortunately this still does not help me. I am fully aware of how to do this with regular (non F#/Feliz) code. The problem is how to do it in **Feliz**. For example this won't work:
[code]
It tells me:
[code]
How should I attach an `onClick` handler to an **SVG element in Feliz**?

[2021-01-20 09:22] MangelMaxime commented on #309
@bzuu I don't know what will be the decision of the maintainers of this project but you probably needs to duplication the `onClick` property to attach it to the `svg` type and make it return an `ISvgAttribute`.

https://github.com/Zaid-Ajaj/Feliz/blob/60b327072ebc45e78ba76b4c7d7daea546822175/Feliz/Types.fs#L3-L10

Because they are both currently independent types.

[2021-01-20 09:37] bzuu commented on #309
@MangelMaxime thanks, this is indeed what I was wondering about. Your comment seems to confirm this currently isn't supported indeed.

Although I would be more than happy to give implementing this a shot, it seems a bit distant from my original issue. Perhaps we should create a separate issue for adding the onX handlers for SVG?

[2021-01-20 10:06] MangelMaxime commented on #309
Yes indeed, creating a dedicated issue asking for handlers for SVG makes sense.

As for the current issue, if I was you I would create a PR adding `pointer-events` because it is already well supported by the browser and in the specification.

https://caniuse.com/?search=pointer-events

For `touch-action` the support is less robust currently. So I would wait for the maintainer to decide to add it o

[2021-01-20 10:14] bzuu commented on #309
Great, sounds like a plan. I'll create the issue and PR when I am near my pc.

[2021-01-20 12:59] bzuu opened #312 "Add event handlers for SVG"
Currently there seems to be no support for event handlers in SVG. See the discussion in #309. I'd be happy to implement this, but some input from the maintainers on this would be welcome as to what approach would be best:

* Duplicate the current code available for HTML elements
* Modify the existing code in some way to allow the event handlers to be used for both SVG and HTML elements
* ...

[2021-01-20 13:20] bzuu commented on #309
For anyone interested in an implementation for `touch-action` until it gets supported you can check this commit https://github.com/bzuu/Feliz/commit/8235ecf11e5ef3009583a1c1e56a3182a697ac37

[2021-01-20 13:20] #309 closed

[2021-01-21 11:18] Shmew commented on #298
There's a couple things that would need to be figured out/considered:

#### Intellisense

I'm not super happy that my intellisense would look funky since `Html` would be defined in Feliz as:

[code]

That's more of a minor issue though.

#### Bundle size

We'd obviously want this to be the same as it is currently (or better). Perhaps a plugin in `Feliz.HtmlEngine` that is wrapped in compiler direc

[2021-01-21 11:49] Shmew commented on #309
Sorry, looks like I was being a bit dense. What I was getting at was that regardless of if event handlers were properly implemented, the properties were still valid for SVG and so they could be added. Looks like you already created an issue for the handlers so that should cover that side of things.

[2021-01-21 12:00] Shmew commented on #312
I think it's probably easiest to just duplicate the code, in most cases it's a very simple `Interop.mkAttr "someAttribute" value`. We could do something like a shared type both `prop` and `svg` could inherit from but it makes things messy if one has an overload the other shouldn't.

[2021-01-21 12:15] bzuu commented on #312
@Shmew thanks for sharing your thoughts on this. I think the duplication would be the most straightforward indeed and does as you say allow differentiation in situations when HTML and SVG are not completely aligned (if any).

[2021-01-21 12:20] bzuu commented on #309
@Shmew, I see what you mean. In the current PR I haven't included the SVG side of things however. For now I think it is most straightforward to get the event support first, then add these attributes as well for SVG so it can be tested. I'll see if I can find some time to submit both other PR's some time this week.

[2021-01-27 07:29] alfonsogarciacaro commented on #298
Thanks a lot for the comments @Shmew and sorry for replying late:

- **Intellisense**: Hmm, I only wrote a simple example with the abstract API but didn't see any issue with autocompletion. I'll try to check again. Instead of accessing a static type users access a value. I guess it should be fine and in many cases code won't need to change. The main drawback would probably be that `open type` cann

[2021-01-27 11:34] Shmew commented on #298
You're welcome, and no worries!

Sorry, I wasn't super clear. Intellisense is fine, but rather the fact that `Html` would be a different color. Like I said, really minor 😅. The fact we lose being able to `open type` is actually a bit of a bigger deal. I know some *really* prefer that over having to namespace everything.

I didn't even realize that the interop functions weren't already inlined, I i

[2021-02-04 07:46] Zaid-Ajaj commented on #312
Resolved in #314

[2021-02-04 07:46] #312 closed

[2021-02-04 07:50] Zaid-Ajaj commented on #310
Hi @Lenne231 thanks a lot for the issue report, I think this happens because of [this check here](https://github.com/Zaid-Ajaj/Feliz/blob/master/Feliz.CompilerPlugins/ReactComponent.fs#L23) I will have a look ASAP because this pattern is quite useful

[2021-02-16 06:38] TheDevKnight opened #317 "Add VS Code debug config in Feliz Template"
Hi, would be very cool when you add the vs code settings for debugging with chrome. I have an app based on the template end get no working debugging experience 😕

Regards

[2021-02-17 10:04] Zaid-Ajaj commented on #304
Hello @alfonsogarciacaro, it has been a while :smile:

I have been thinking about this problem for a while. I think there are more challenges that the ones you pointed out. Even using something like the following
[code]
Won't really work because the compiler plugin needs to output _two_ definitions (AST declarations):
 - One for component itself
 - Another for the transformed component (used by th

[2021-02-17 10:13] Zaid-Ajaj commented on #317
Hi there @TheDevKnight, I will check it out. I think you need to enable source maps in latest Fable. Will try to see how to make it work and come back to you 😉

[2021-02-17 11:06] TheDevKnight commented on #317
Hi @Zaid-Ajaj that would be great. Thank you ☺️

[2021-02-18 01:48] alfonsogarciacaro commented on #304
It's been a while indeed! I hope everything is well 😊

Thanks a lot for your comments! You're definitely right, dealing with HOC is a pain. I believe that's actually one of the reasons the React team created the hooks. Ok, let's not dedicate too much energy on this and just hope React libraries replace HOC with hooks (as they should). If somebody still needs to use an HoC we can deal with that in

[2021-02-18 01:48] #304 closed

[2021-02-21 16:39] deyanp opened #318 "Module not found: Error: Can't resolve '../docs/.fable/fable-library.3.0.0-nagareyama-rc-007/Map.js' in '/home/xxxxx/git/Experiments/FelizTests/FelizApp/src/.fable/Feliz.UseDeferred.1.4.0'"
While experimenting for the first time with Feliz I added fsproj reference

`<PackageReference Include="Feliz.UseDeferred" Version="1.4.0" />`

and tried to create the sample component

[code]

however I am getting the errors

[code]

Any idea why?

`dotnet fable --help
`
gives

`Fable: F# to JS compiler 3.0.1`

...

[2021-02-21 16:41] deyanp commented on #318
hmm,

`npm i `

solved this ... but wondering if Feliz.UseDeferred is really still using fable-library.3.0.0-nagareyama-rc-007 ...

[2021-02-21 17:37] Zaid-Ajaj commented on #318
Hi there @deyanp, I believe this is an issue because Feliz.UseDeferred accidentally included the generated JS files from the time I was testing it. I will publish a new version that doesn't include the JS files so that they are generated based on your recent Fable version

[2021-02-21 19:11] #306 closed

[2021-02-21 19:11] #318 closed

[2021-02-21 19:14] Zaid-Ajaj commented on #318
Just published a batch of Feliz libs with the fix, can you please update to latest 1.4.0 -> 1.4.1? consider deleting `.fable` directory while you are at it to make sure the old artifacts are removed :smile:

Please reopen the issue if the problem persists :smile:

[2021-02-21 19:14] Zaid-Ajaj commented on #306
Thanks a lot @MangelMaxime for the suggestions. I just published a batch that excludes `.fs.js` from the nuget package

[2021-02-21 20:15] #310 closed

[2021-02-21 20:16] Zaid-Ajaj commented on #310
Hi @Lenne231 I just published Feliz v1.34 which should include the fix 🚀 can you please give it a try a let me know if it worked for you? Please reopen the issue if the problem persists :smile:

[2021-02-23 12:10] alfonsogarciacaro commented on #298
I've experimenting with this idea, you can see my progress here: https://github.com/alfonsogarciacaro/Feliz.Engine

There's still work to do and I have some doubts about a couple of things, but it's already working and covers most of Feliz API. However, I had to make a few changes so it's true that it's going to be difficult to replace Feliz with something like this. But there's still value in hav

[2021-02-23 14:18] Zaid-Ajaj commented on #298
Hi @alfonsogarciacaro, I will have a deep dive into these samples sometime this week and come back to it for sure 😄

[2021-02-23 16:50] MangelMaxime commented on #298
Hello,

I took a really quick look at the code and it seems like this abstract version will have some impact on the bundle size. Just wanted to point it out as it was one of the feature of Feliz in it's current form.

[2021-02-24 02:42] alfonsogarciacaro commented on #298
Yes, an impact is expected, the question is how big it is :) I'm hoping that for medium-big apps is not very noticeable but of course it'd be nice to have something like fulma-demo in both styles so we can compare and use to test optimization opportunities. It'd be also interesting just to check how inlining or not Feliz helpers affects the bundle size. Right now, the code generated by Feliz is qu

[2021-02-24 10:29] Shmew commented on #298
Yeah I can't imagine anyone would be opposed to being able to use this wonderful API/style in other projects. My only real concerns were if it would impact the quality of this library, and some of the ergonomic issues that I outlined above.

[2021-02-25 14:54] bzuu-ic opened #320 "Cursor jumping to end of input after switching to React.useElmish"
## Issue

After refactoring parts of my application from using Elmish directly to using React components that use `React.useElmish`, I noticed various form inputs were misbehaving. Whenever you try to edit a form input by placing the cursor somewhere in the middle of a previously entered piece of text and start typing, the cursor jumps to the end of the field and you end up typing most of your cha

[2021-02-25 15:17] MangelMaxime commented on #320
Hello @bzuu-ic ,

if you search for "Elmish cursor jump" you should find several discussions on this subject as it was a common question in the past.

The short answer is that using `prop.valueOrDefault` is probably the way to go when using `Feliz`.

You could potentially have the same behaviour observed with Elmish if you were using [`Program.withReactBatched`](https://github.com/elmish/react/blo

[2021-02-25 15:26] bzuu-ic commented on #320
Thanks @MangelMaxime good to know it is broader than Feliz. Other than it being counter intuitive, the workaround seems easy enough to implement.

[2021-02-25 15:26] #320 closed

[2021-02-25 17:39] Zaid-Ajaj commented on #298
Hi @alfonsogarciacaro, I have had a good look at the example code. I was surprised to see that the css engine and static html engine are both nodejs-only applications since they use node.js streams. Although the idea is interesting, I find it hard to see myself actually using any of the above:
 - The CssEngine generates CSS, what is the benefit of that as opposed to using just CSS/SASS toolchains

[2021-02-27 12:36] alfonsogarciacaro commented on #298
Thanks a lot for checking the samples @Zaid-Ajaj! I appreciate your honesty. The css and html printer were just quick examples to check how easy/difficult was to adapt Feliz.Engine to potential uses (the code to do the printing is just 50 lines). I used Fable & node because incremental compilation is much faster, but "in principle" it should be easy to adapt it to .net. The Snabbdom adapter was me

[2021-02-28 15:01] SCullman opened #321 "Jsx and props Object"
Inspired by this [tweet](https://twitter.com/zaid_ajaj/status/1337835669486505985), I tried to extend the example and pass an object:
[code]
[code]
This will provide a Reference error, `context is not defined`

However, it will work if I use a tuple:
[code]
[code]
Do I miss something obvious?

[2021-02-28 15:07] SCullman commented on #321
This works:
[code]
[code]

[2021-02-28 15:29] SCullman commented on #321
One more way to workaround:
[code]

[2021-02-28 17:19] zanaptak commented on #308
Note one semi-common case where custom equality is still useful is to ensure structural equality for e.g. Options/DUs, which are JS objects and therefore subject to reference equality in the default compare.

Maybe it's ok for a string parameter on the attribute to specify an equality function name, since at least there are some mitigations against bad values. I assume the compiler plugin can chec

[2021-02-28 23:16] Zaid-Ajaj commented on #321
Hi there @SCullman, the first example didn't work because you are *destructuring* the props in the JSX component. This piece of code:
[code]
is equivalent to:
[code]
then when you use a single record as input for `[<ReactComponent>]` then the type of `props` is assumed to be that of the record (i.e. `props: DebugContext`)

To fix your initial example, simply remove the destructuring of the props i

[2021-03-01 10:50] SCullman commented on #321
Thank you @Zaid-Ajaj! This makes sense

[2021-03-01 10:50] #321 closed

[2021-03-01 15:52] #280 closed

[2021-03-01 15:54] #261 closed

[2021-03-01 16:39] Shmew commented on #308
I quite like that idea @zanaptak. Taking a quick look at how the `ReactComponentAttribute` is written I *think* it's possible to make it so that if you have a component like this:

[code]

We could have a equality function like this:
[code]

This should work since 2+ arity functions are transformed into an object, and the plugin is able to destructure that to pass on to the function (unless I'm mi

[2021-03-01 16:42] #283 closed

[2021-03-02 15:52] Shmew commented on #157
@Zaid-Ajaj are we good to close this issue?

[2021-03-02 16:02] l3m commented on #298
@alfonsogarciacaro This looks amazing. As mentioned in #262, the only thing I really, really miss since switching from Fable.React to Feliz is the 'it just works' SSR. Both Feliz and Feliz.ViewEngine are amazing projects, but having two different projects makes code reuse difficult, as any piece of code that uses the ifdefs can only be used by other code that uses the ifdefs - creating silos for j

[2021-03-02 16:08] Zaid-Ajaj commented on #157
@Shmew I haven't gotten into it yet but I wanted to explore what @MangelMaxime has been doing. I think his solution might prove better suited for Feliz apps. Maybe we should start a new issue from here, but let's not close this yet 🙏

[2021-03-02 19:35] MangelMaxime commented on #157
Just for your information, in the end I decided to go with standard a `Elmish` application using the old `Elmish.HMR` NuGet.

I encountered several issues (sorry it is a long time ago so I don't really remember... but it was probably related to HMR) when trying to go full Feliz way using `Feliz.UseElmish` that has been solved in `Elmish`.

I think the problem, is that `fast-refresh` only reload th

[2021-03-03 09:36] alfonsogarciacaro commented on #298
Yes. that would be a great use case. It's tricky though because at the end Feliz.Engine has [some differences](https://github.com/alfonsogarciacaro/Feliz.Engine/blob/main/README.md) with Feliz, which means we would have to write a Feliz.Engine React implementation that would compete with Feliz itself, something I would like to avoid ;) But hopefully we can find a solution.

[2021-03-08 21:41] Zaid-Ajaj commented on #268
As of v1.37 the functions `valueAsDate` and `valueAsNumber` are no longer a thing because I couldn't find anything in React that corresponds to them. Instead, I have added `DateTime` utilities in Feliz that makes working with the native date selector a breeze. See [Working with Dates](https://zaid-ajaj.github.io/Feliz/#/Feliz/React/WorkingWithDates) for examples

![Feliz-Dates](https://user-images

[2021-03-08 21:41] #268 closed

[2021-03-08 22:04] Zaid-Ajaj commented on #274
For now, I would like to keep the current API as close as possible to React. Will revisit if a lot of people complain about it 😉

[2021-03-08 22:04] #274 closed

[2021-03-08 22:04] Zaid-Ajaj commented on #203
Current template supports react-refresh just fine 😄

[2021-03-08 22:04] #203 closed

[2021-03-11 14:20] 7sharp9 opened #328 "When using the template mentioned in the start guide errors are present in the console on running"
Template was the one mentioned in the docs: `dotnet new -I Feliz.Template`
[code]

Im assuming this is because of the dev environment and the web pack config in the template:

[code]

[2021-03-11 14:55] Zaid-Ajaj commented on #328
Hi there @7sharp9, thanks a lot for filing the issue. I have a look

I think this happens because the icon isn't found and then webpack falls back to `devServerProxy`.

However, this part is really reserved for when you have a backend running alongside the frontend on `http://localhost:5000` and proxying the requests from `http://localhost:8080` .

[2021-03-11 15:14] 7sharp9 commented on #328
Im in the process of porting a site from Elm, so just looking at Feliz as the target, I was using express to host as it was quick and easy to setup and deploy.  Would you recommend something like that with Feliz?

[2021-03-11 15:19] Zaid-Ajaj commented on #328
Yeah for sure, you should be able to choose whatever backend you have and it should work.

Let me know if you have questions along the way

[2021-03-11 15:22] 7sharp9 commented on #328
I wonder why the favicons would not be found?  They are in the list folder when you make a prod build.

[2021-03-11 15:26] Zaid-Ajaj commented on #328
Because the `devServerProxy` decided to proxy every single HTTP request to the "backend" at `http://localhost:5000` but that is not what it should do because this template is frontend only and doesn't include a backend.
[code]
Should be
[code]
Notice the rule `/**` becomes `/api` so that the frontend will only proxy HTTP requests staring with `/api` to the backend during development

[2021-03-11 15:35] 7sharp9 commented on #328
Ah yeah, that makes sense, easy change, do you want me to update the template?

[2021-03-11 15:42] #328 closed

[2021-03-11 15:55] Zaid-Ajaj commented on #328
I just did 😉

[2021-03-11 16:39] 7sharp9 opened #329 "In the documentation for Elmish and Elmish components include the invocation from main code."
If you are new to Feliz then having the code to invoke the Elmish style would be handy, for example on the `React Elmish Components section`:

[code]

Its not clear on how you would invoke that from main, would you need to use something like makeElmishprogram or just use a ReactComponent like:

[code]

[2021-03-11 16:48] 7sharp9 commented on #329
It might also be worth mentioning when first talking about useElmish than it should be installed with `dotnet add package Feliz.UseElmish` just everything flows better rather than finding a missing reference.

[2021-03-11 16:51] Zaid-Ajaj commented on #329
You would indeed just invoke the react component and the useElmish hook will take care of the dispatch loop

Consider using the new stuff from Fable 3

[< ReactComponent >]
let Counter() =
  let state, dispatch = React.useElmish(...)
  Html.div [ ]

ReactDOM.render(Counter(), document.getElementById "feliz-app")

[2021-03-11 16:54] Zaid-Ajaj commented on #329
I will be updating the docs soon to latest Fable 3 bits and address the confusing points

[2021-03-11 16:55] 7sharp9 commented on #329
Yeah Im just reading the docs as I try to fumble with Elmish :-/

[2021-03-11 17:16] 7sharp9 commented on #329
@Zaid-Ajaj Last question for today :-)  When using Feliz.Router do you still have to use the `Program.mkProgram` ?

[2021-03-11 17:25] Zaid-Ajaj commented on #329
Nope, there isn't any global Program, just React components like Router.router component from the Felix.Router package. See the SAFE.React repo for more examples :)

[2021-03-11 19:36] #329 closed

[2021-03-11 19:41] Zaid-Ajaj commented on #329
@7sharp9 I have updated [React Elmish Components](https://zaid-ajaj.github.io/Feliz/#/Hooks/UseElmish) to Fable 3 bits and added more bits about the dependencies array and resource disposal. Please have a look and let me know if anything is weird or confusing.

[2021-03-14 06:16] roboz0r commented on #157
Could the issue with react-refresh-webpack-plugin requiring react components to be the only exports in the file be resolved by making the `ReactComponentAttribute` tell Fable to compile that function as a separate file i.e. `Counter.fs` becomes `Counter.fs.js` and `CounterRC.fs.js` or some suitable name?

[2021-03-14 07:49] roboz0r commented on #288
Here's a reasonably efficient immutable FIFO implementation with Lists. Reverse is only called when the outgoing list is empty and the incoming has built up items so execution is typically O(1). I had a look at the existing useElmish implementation but didn't really understand what was going on so wasn't that tempted to change it.

    type ListQueue<'T> private (incoming:'T list, outgoing:'T list

[2021-03-14 09:43] roboz0r commented on #317
Should be resolved by this PR https://github.com/Zaid-Ajaj/Feliz/pull/330

[2021-03-16 10:53] roboz0r opened #331 "Nested React Components fails to compile"
### Description

If a function tagged with `[<ReactComponent>]` calls another function also tagged with `[<ReactComponent>]` on the same line of code the compiler fails with the following message `EXCEPTION: Cannot find implementation file /`. If the component is bound to a value prior to being passed the compilation is successful.

### Repro code

From the Felliz template I modified `App.fs` per

[2021-03-16 10:54] roboz0r commented on #331
Cross posted on the Fable repo as not sure where the error lies https://github.com/fable-compiler/Fable/issues/2412

[2021-03-16 11:24] Zaid-Ajaj commented on #331
Hi @roboz0r, this does look like a Fable error since it is coming from the compiler. I will test it locally to see maybe see what is going on. Maybe Fable is having trouble with the order of applying the transformations

[2021-03-16 21:02] theimowski opened #332 "Error after renaming React Component: Uncaught Error: Element type is invalid: expected a string"
Starting from scratch with Feliz template, I've made it run with `npm start` and then renamed `HelloWorld` React Component in `App.fs` to `HelloWorlds`.
In result Fable compiles fine without any warnings, but React complains in the runtime (nothing gets rendered):

[code]

Seems it's some kind of caching issue - not sure if in fable itself or feliz plugin. After clearing `.fable` directory it work

[2021-03-16 22:45] Zaid-Ajaj commented on #332
Hi @theimowski I've recently encountered this as well. I will need to look into it but maybe @alfonsogarciacaro knows more about it. Can you also try using latest Fable v3.1.10? the template is at 3.1.5

[2021-03-17 03:51] Zaid-Ajaj commented on #332
Looks like a Fable issue

[2021-03-17 07:27] alfonsogarciacaro commented on #331
I thought this was an issue with Fable as well ;) but after checking a lot I realized this was caused because the plugin is creating its own EntityRef with `SourcePath "/"` so when Fable finds it cannot find the actual entity https://github.com/Zaid-Ajaj/Feliz/blob/88e0d1b1fe1db5ce9fc047be3ab393c9df42b2e1/Feliz.CompilerPlugins/AstUtils.fs#L63-L66

In this case, in order to create the ReactElement

[2021-03-17 07:32] alfonsogarciacaro commented on #332
Can you please try with 3.1.11? This is probably related to https://github.com/fable-compiler/Fable/issues/2413

[2021-03-17 07:35] #331 closed

[2021-03-17 07:45] Zaid-Ajaj commented on #331
Published Feliz v1.38 which should include the fix. @roboz0r can you please give it a try and confirm that it is fixed?

[2021-03-17 08:10] Zaid-Ajaj commented on #332
I've confirmed that the issue is fixed as of v3.1.11 so @theimowski can you also give it a try?

[2021-03-17 08:46] roboz0r commented on #331
Tested and working. Thanks @alfonsogarciacaro and @Zaid-Ajaj :)

[2021-03-17 09:46] Dzoukr opened #334 "Your opinion on v2 idea?"
Hello friend,
as a daily user of Feliz (and Feliz.Bulma indeed) I am always struggling with nesting `prop.children` which makes it somehow uglier for me. I'd like to know your opinion on v2 proposal where we would have:

[code]

Maybe something like that is not even possible, but I saw @alfonsogarciacaro's work on Feliz.Engine and it seems so tempting to have props and children on the same level.

[2021-03-17 10:00] MangelMaxime commented on #334
Adding this kind of support will make the type inference a lot more permissive (I would even say useless) because then we will have `Attribute = Properties = ReactElement`. Basically, everything will be accepted as the same type...

Also, in order to make that possible, we will need to add an extra layer on top of React to split the attributes from the children "manually" which will impact the per

[2021-03-17 10:04] Zaid-Ajaj commented on #334
I have mixed feelings about this approach, mainly because of the runtime overhead it adds to rendering. Also I would prefer to keep the idea of a `ReactElement` separate from `ReactAttribute`. So personally I prefer the current API a lot more.

In my experience, I hear about this issue from users a lot but _only_ in the context of `div` with a class name and children. To which my usual response is

[2021-03-17 11:13] roboz0r commented on #334
Seems to me there's no reason not write your own extension methods if they better suit the effect of applying classes or other frequently used properties as I did here with Material UI. Composability is dead easy with F# without further confusing the compiler or reducing type safety.

    [<AutoOpen>]
    module MuiExtensions

    open Feliz
    open Feliz.MaterialUI

    type Mui
        with

[2021-03-17 11:33] Dzoukr commented on #334
Thanks for all opinions, I just wanted to discussion flow. 👍 I have also my own helpers like `divClassed "myClass" [ children ]` or so, but wanted to know other's point of view.

[2021-03-17 20:33] theimowski commented on #332
It still doesn't fully work as expected in Fable 3.1.11.

Trying to investigate this a bit further:

1. Change `HelloWorld` -> `HelloWorlds` but only in `App.fs`:

[code]

There's an FSHARP compilation error, but webpack compiles and treats the error as a warning, WDS refreshes the page and you can see the React error in subject rendered on screen

2. Change `HelloWorld` -> `HelloWorlds` in `Main.

[2021-03-17 21:17] Zaid-Ajaj commented on #332
@theimowski I think this might actually be an edge case for the fast-refresh plugin where it should trigger a full page refresh upon changing the entry point file.

I need to confirm the theory sometime: the problem will not occur when the referenced component is not in the entry point file. So if you have App.fs -> Middle.fs -> Main.fs (entry point) and you only change App.fs or Middle.fs

Can yo

[2021-03-18 00:41] Zaid-Ajaj commented on #332
@theimowski I've crossposted the issue on [react-refresh#330](https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/330)

[2021-03-18 19:04] Zaid-Ajaj commented on #332
The react-refresh occurs when using latest webpack so I rolled back to webpack v4 until the issue is resolved and published a working Feliz template (now with more example components) as of v3.6

[2021-03-18 19:04] #332 closed

[2021-03-18 19:06] Zaid-Ajaj commented on #317
Sorry @roboz0r I rolled back the config in the template because of I changed webpack back to v4.x (due to #332) so this issue remains

[2021-03-18 19:28] theimowski commented on #332
Thanks - yes indeed using new feliz template the refresh issue is gone.
Don't you think it'd be better if F# compilation error failed the webpack refresh? Or is it something hard to achieve?
Back with Fable 2.* and webpack dev server, when there was an F# compile error, the refresh wouldn't be triggered.

[2021-03-18 19:34] Zaid-Ajaj commented on #332
It's not impossible: probably requires emitting JS code that _intentionally_ has some syntax errors to break what webpack is doing but I doubt anyone want that (especially @alfonsogarciacaro) 😉

I think the current situation is fine because when webpack is emitting a warning, Fable is emitting an error which is a higher priority for the developer to fix. Once the Fable (compile) error is fixed, th

[2021-03-18 20:01] theimowski commented on #332
My personal preference would be that a failing step results in not executing steps that follow - otherwise you might observe stuff refreshing in your browser and you might get fooled that everything is fine, while your F# code is actually not compiling.

[2021-03-18 20:11] Zaid-Ajaj commented on #332
But react-refresh will show you an error page in red with an error message on the browser even if the terminal shows a webpack warning

[2021-03-18 20:19] theimowski commented on #332
I see - right, in that case it's fine.
The only issue then is what you described in https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/330

[2021-03-19 16:23] Shmew commented on #334
This should actually be possible while keeping type restrictions if we changed React elements from being a list to being computation expressions:

[code]

The CE implementation would increase the size of the codebase, definitely make it harder to maintain, and handling some things like primitives when props are defined is a little tricky/would have to fail on compile rather than during development

[2021-03-21 16:51] Shmew opened #335 "pigeon-maps breaking change"
`pigeon-maps` released a new version a few days ago that breaks the bindings. We do an [importDefault](https://github.com/Zaid-Ajaj/Feliz/blob/master/Feliz.PigeonMaps/PigeonMaps.fs#L24), and they [got rid of the default export](https://github.com/mariusandra/pigeon-maps/commit/1c098836d6fe128660c4187bfecb64ccf9bfa422#diff-0b5adbfe7b36e4ae2f479291e20152e33e940f7f265162d77f40f6bdb5da7405).

[2021-03-21 17:02] Zaid-Ajaj commented on #335
Darn it, even though the original library introduced a major change in a new release, the binding shouldn't break when installed via Femto but I had the ResolutionStrategy set to max instead of min :/

[2021-03-22 06:42] #335 closed

[2021-03-22 06:54] Zaid-Ajaj commented on #335
Fixed as of  Feliz.PigeonMaps v2.5

[2021-03-22 20:54] zanaptak commented on #334
Petition to change the title to indicate the discussion topic? 😆

@Dzoukr There have been previous discussions on this -- I am definitely on your side.

Helper functions are not ideal because they bring back the awkward double list syntax, basically eliminating one of the key benefits of this lib in the first place, and they don't help with real prop usage which is much more than just div+class.

[2021-03-23 14:59] olivercoad commented on #334
@zanaptak I quite like that idea because as you say, the props don't tend to nest deeply like the children.

----

On the topic of helpers and the double list syntax

[code]

You could even define an operator to use the "double list"-like syntax with any element if you wanted:

[code]

[2021-03-24 02:56] alfonsogarciacaro commented on #334
This is a tricky topic because what "looks better" can be subjective. Probably the most important thing is to avoid breaking changes, but if you just want to experiment you can use [Feliz.Engine](https://github.com/alfonsogarciacaro/Feliz.Engine) for that, as it's very easy to adapt it to React. As mentioned in other issues, I don't want to publish Feliz.Engine.React because it would be confusing

[2021-03-24 06:57] Zaid-Ajaj commented on #334
@zanaptak  Helper functions don't need to take two lists as input, `div [ "class" ] [ ]` was just an example of a common scenario that happened to take two lists. These functions can be components too that make your view simpler
[code]
Although you can technically infinitely nest the lists, that's not the idea. There is a balance there by using smaller functions or components in your bigger UI cod

[2021-03-26 06:19] OkayX6 opened #338 "Why doesn't prop.ref match my generated innerRef interop?"
Hi :)
I had to do some unfortunate dynamic typecast in this situation.

## I was translating this official JS code from (ReactBeautifulDnd)

[code]

### Here are the original type defs for reference

#### div.ref
![image](https://user-images.githubusercontent.com/1169339/112588651-56297a80-8e32-11eb-9ec4-97c60335e067.png)

#### provided.innerRef

![image](https://user-images.githubusercontent.com/

[2021-03-26 07:34] Zaid-Ajaj commented on #338
Hi there @OkayX6, this is an interesting situation. I think the generated type by ts2fable is wrong and it should be
[code]
instead of
[code]

On the Feliz side of things, I might need to add another overload for `HTMLElement -> unit` or change the current one to `#Element -> unit` I am not sure but I will check.

[2021-03-26 07:48] OkayX6 commented on #338
Oh, I didn't dare touching it, as the original TS code had this signature:

[code]

[2021-03-26 07:58] Zaid-Ajaj commented on #338
@OkayX6 Yeah the problem is in the ts declaration too because in ts I don't think there is a `unit` or `void` type either 😓 this is why I don't use ts2fable anymore. I will see what I can do

[2021-03-26 14:15] Zaid-Ajaj commented on #338
@OkayX6 Actually I don't think I can do anything here because there will not be an overload that expects `something -> obj`. The return type of the ref must be `unit` and it is really a problem in ts2fable.

To simplify your own code, you can `unbox` the value
[code]
I _think_ it should work but I'll the leave the issue at that

[2021-03-26 14:15] #338 closed

[2021-03-29 15:42] olivercoad opened #339 "Aliasing Props page in docs is broken"
Just noticed the https://zaid-ajaj.github.io/Feliz/#/Feliz/React/Feliz/Aliasing page in the docs is broken.

`Status 404: could not load markdown`

[2021-03-29 16:10] Zaid-Ajaj commented on #339
Thanks for filing the issue @olivercoad I'll fix it later tonight

[2021-03-29 22:34] #339 closed

[2021-03-29 22:34] Zaid-Ajaj commented on #339
Should now be fixed

[2021-03-30 12:43] brase opened #340 "Broken dependencies for Recharts and React?"
Hi,

I am using Femto and I found a dependencies conflict between Feliz.Recharts and Feliz.

Feliz says it needs React 17 but Feliz.Recharts says that it needes Recharts < 2.0.0 which needs React < 16.

Am I right that there is a problem? Does anybody else had this problem? Is it safe to use recharts with react 17?

[2021-03-30 13:06] Zaid-Ajaj commented on #340
Hi @brase, not sure I understand how the dependencies are broken. React 17 is backward-compatible with React v16 and recharts should just work with latest React (like it does on the documentation website)

Can you please run "dotnet femto --resolve" and run your application afterwards?

[2021-03-30 13:16] brase commented on #340
Maybe this is just a tooling problem.

Trying to install:

[code]
Calling dotnet femto --resolve:

[code]

Then calling dotnet femto:

[code]

Then calling npm install as requested:

[code]

Then using force:

[code]

[2021-03-30 13:48] Zaid-Ajaj commented on #340
I see, thanks for the details. I'll try to update Feliz.Recharts to >= v2.0 < 3.0.0 sometime this week

[2021-03-31 13:08] mastoj opened #345 "How to set the srcObject of a video tag?"
I'm playing around with feliz and want to stream some video. Just from the camera to the screen initially. How do I set the srcObject of the video tag? I can't find it in among the properties.

[2021-03-31 20:19] mastoj commented on #345
Got it working using React references. Using the `createObjectURL` didn't work at all for some reason. One gotcha with the reference part is that it seems like the element needed to be rendered once so I could get the actual video element and set the `srcObject`. I couldn't create the video element and set the the `srcObject` in the same "iteration".

[2021-04-01 00:08] #340 closed

[2021-04-01 00:09] Zaid-Ajaj commented on #340
I messed up the commit message 😅 the package version is actually v3.4 which will include the fix and make Femto use the latest recharts version

[2021-04-01 00:10] #345 closed

[2021-04-01 04:47] brase commented on #340
Great! Thank you!

[2021-04-02 10:12] njlr opened #346 "Question: ReactComponent annotation with currying"
From the docs, I know that this:

[code]

Is equivalent to `React.Component<string, obj>`

But what about this?

[code]

 * `string -> React.Component<string, obj>` ?
 * `React.Component<string * struing, obj>` ?

Is this even a valid usage of the annotation?

[2021-04-02 12:12] Zaid-Ajaj commented on #346
When in doubt, always look at the generated code :wink:

This component is indeed valid
[code]
and it translates to:
[code]
In component terms, the input props is an _object_ that contains `x` and `y` values:
[code]
On call-site, when you apply the function fully
[code]
the generated JS applies each property
[code]
When partially applied,
[code]
a function is created
[code]
Though I would recommen

[2021-04-06 08:38] njlr commented on #346
Thanks for this, turns out the library is even smarter than I expected!

[2021-04-06 08:38] #346 closed

[2021-04-08 20:54] chengh42 opened #348 "svg.transform transform & translate not working (undesired units were added)"
Hi there,

Thanks for creating this fabulous package. The experience with Feliz was very enjoyable!

### Description of the issue

A minor issue I've encountered when using `svg.transform`, Feliz seems to be adding undesired units (here deg and px) that prevent the transform attribute from working. For instance, with:

[code]

... the resulting svg elements unfortunately do not have the desired tr

[2021-04-08 21:59] Zaid-Ajaj commented on #348
Hi there @chengh42 thank you for the kind words 🙏 can you please tell me which version of Feliz you are using?

We did indeed fix the issue with the unit in the `svg.translate` function and published a version back then but now looking at the code I see that we didn't remove the units from the `svg.rotate`. That said, the current `svg.transform` function will remove the units just in case in lates

[2021-04-08 22:08] Zaid-Ajaj commented on #348
Published Feliz v1.41 which should now also remove the `deg` unit altogether. Can you please give it a try and let me know if it resolves your problem? thanks!

[2021-04-10 03:04] zelenij commented on #167
@Zaid-Ajaj do you think it's possible to have an example on how to update (lift?) state change from child to parent in Feliz/Fable please? I can't figure it for the life of me, which limited knowledge of React doesn't help, of course.

[2021-04-14 15:31] chengh42 commented on #348
Thanks for your extremely fast reply! Apologies for my delay.

I've tried using the latest release Feliz v1.42, unfortunately the problem remains 😢 The element using `svg.transform` is still adding `deg` and `px` to the rendered results. Here are the resulted screenshot and code snippet created using Feliz Template v3.9.0,

![image](https://user-images.githubusercontent.com/44002425/114736491-6c96

[2021-04-14 16:10] Zaid-Ajaj commented on #348
Thanks a lot for the repro code. I'll have another look and let you know how it goes 😉

[2021-04-15 21:24] dwlizlo opened #349 "Wrapper for MSAL"
Would Feliz be good fit to create wrapper for React MSAL? I've seen there are couple of wrappers for projects like SignalR for example.

[2021-04-15 22:43] Zaid-Ajaj commented on #349
Yeah absolutely, a Feliz wrapper for React msal would be great. I haven't used that library so I am not how difficult it is to build the binding but would be happy to help create one 💯

[2021-04-16 08:50] #348 closed

[2021-04-16 08:51] Zaid-Ajaj commented on #348
Fixed now, should be working as of v1.43 please give it a try and let me know how it goes. Thanks again for the repro

[2021-04-16 11:02] chengh42 commented on #348
Yes beautiful!! Thanks a lot for looking into this 😃

[2021-04-16 14:07] brase opened #350 "Method on Childcomponent"
I am not sure if I am thinking correct but is it possible to somehow call a method on a component to update its state? I am thinking of a modal component using the useElmish hook internal which I want to open with a function call from the parent to dispatch the open message.
Is it possible to achieve this with Feliz?

[2021-04-16 14:13] Zaid-Ajaj commented on #350
Yes it is possible, I believe the approach with React modals is not so much to "show them in function call" but rather use a boolean flag to determine when to show/hide the model and the modal component will take an `onClose` handler:
[code]

[2021-04-16 14:19] brase commented on #350
Ah I see. Thank you  so much. I already thought of doing something wrong.

Sorry for disturbing you.

[2021-04-16 14:19] #350 closed

[2021-04-16 14:26] Zaid-Ajaj commented on #350
No worries at all! You can always ask questions here 😄 btw things like "how do you do X in Feliz?" almost 90% of time boils down to "how to do X in React?" and then translating the code. You will probably find a lot more examples and tutorials for the latter 😉

[2021-04-16 17:22] brase commented on #350
Yes of course. I already did that a lot. The thing is when you on a wrong path and the community is big enough you'll find someone who did it the wrong way. That was the reason for creating the issue cause I found a lot of weird react solutions.

[2021-04-20 08:58] brase commented on #350
Just found this:

[code]

Is `toggleLogin` an anti pattern? Does Feliz support something like this?

[2021-04-20 09:05] Zaid-Ajaj commented on #350
Hi @brase,

Why would `toggleLogin` be an anti-pattern? I think this just an example to show you how boolean flags/state variables can be used

In Feliz, you can create stateful components like this:
[code]

[2021-04-20 09:09] brase commented on #350
Ah yes, of course. But calling `toggleLogin` from parent would be an anti pattern?

[2021-04-20 09:16] Zaid-Ajaj commented on #350
I don't see any parent component in the example above 😅

You don't/can't call `toggleLogin` from the parent, but the parent _can react_ to the flag being switched when the parent component passes a _callback_ for when users login
[code]

[2021-04-20 09:29] brase commented on #350
If I annoy you just ignore me.

Here is an complete example I found:

https://github.com/akiran/react-slick/blob/5fb7ac78321f3469118a974af3852742b64fcbd3/examples/PreviousNextMethods.js

And while writing this I see, these methods are being accessed through using a ref hook. Okay, now I got it. Is this legit or more an anti pattern?

[2021-04-20 09:39] Zaid-Ajaj commented on #350
I wouldn't say it is an anti-pattern. React components are _declarative_ by design so if you want to control the underlying component using imperative methods such as `slideNext()` and `slidePrev()` then using `ref` is the way to go since it gives you access to the underlying lower-level instance of the slider which has these methods attached to it.

[2021-04-20 09:42] brase commented on #350
Is it possible to write such a component with Feliz?

[2021-04-20 09:53] Zaid-Ajaj commented on #350
Of course, Feliz supports [React References](https://zaid-ajaj.github.io/Feliz/#/Feliz/React/Refs) for this example, you would need to create your own reference hook such as `React.useSliderRef()` and set it in the `ref` property of the component.

The example in the docs show you how to call the imperative `focus()` function of an input. The idea is the same with the slider, though the types are

[2021-04-20 10:16] brase commented on #350
Yes, I know. But I was wondering how do I define such a compenent in Feliz. I mean a component with functions which are accessable with the help of the ref hook.
 Is there an api for something like a class component? I don't know if I'll ever need this but I'm interested to see if it can be done with Feliz.

[2021-04-20 10:20] Zaid-Ajaj commented on #350
The linked the React references guide above which shows you a component that has access to the `focus()` method via a React ref hook. The idea is that same here. Feliz supports class components (Fable.React actually does and Feliz depends on it) but the modern React patterns recommend using function components i.e. with `[<ReactComponent>]`

[2021-04-20 11:06] brase commented on #350
Thank you!

[2021-04-20 13:19] JaggerJo opened #353 "React.useState and React.useRef compatibility"
`Feliz.React.useState` returns a tuple. While this is handy to desonstruct it into a `currentValue` and a `setValue`  function it is incompatible with what `useRef` returns.

it would be nice if both would return a similar enough result so that changing a `useRef` to a `useState` does not require changing the whole component.

current solution is to directly use the react took `Fable.React.HookBin

[2021-04-20 13:28] Zaid-Ajaj commented on #353
`React.useState` returns a tuple because that is exactly what the JS equivalent looks like and it is a goal of Feliz to be as much as close to what the React corresponding code looks like.
[code]
It can be the case that `React.useRef` is the exception to the rule here but that is OK because `useRef` and `useState` are _not_ interchangeable: the former uses a mutable value and the latter an updater

[2021-04-20 14:16] JaggerJo commented on #353
@Zaid-Ajaj wow, that was quick 😁

What I want is actually the other way around (have it return a `IRefValue` / `IStateHook`).

I totally get you point tho, and yes it's not a 100% interchangeable 🙃

I'll just close this and use a custom extension

[2021-04-20 14:16] #353 closed

[2021-04-21 17:27] Zaid-Ajaj opened #354 "Add documentation for Feliz.SelectSearch"
Feliz.SelectSearch has been added as part of the repository. It is a binding for [react-select-search](https://github.com/tbleckert/react-select-search) and an initial version has been published.

Needs documentation with examples

Use for reference

[code]

[2021-04-22 23:53] Zaid-Ajaj commented on #354
Added here https://zaid-ajaj.github.io/Feliz/#/Components/SelectSearch

[2021-04-22 23:53] #354 closed

[2021-04-24 16:12] MangelMaxime opened #355 "Feliz depends on a broken version of Fable.React"
See https://github.com/fable-compiler/Fable/issues/2414#issuecomment-826115001

I am almost certain that Fable.React 7.0.1 is a broken package and Feliz is having a minimal dependency on it.

I am proposing to upgrade the dependency constraint to at least Fable.React 7.0.3 which has a fix for it.

[2021-04-24 16:21] Zaid-Ajaj commented on #355
Hi @MangelMaxime thanks for the report. Yes in seems that Feliz needs to update Fable.React, though most Feliz users don't consume anything from Fable.React so I guess that is why no errors have been surfaced yet.

I will update Fable.React, however, it seems that latest Fable.React v7.3 relies on FSharp.Core >= 5.0 meanwhile Feliz takes FSharp.Core >= 4.7.2 which I would like keep (so that no bre

[2021-04-24 16:24] MangelMaxime commented on #355
Personally, I don't see any problem to lower the FSharp.Core version just pinging @alfonsogarciacaro @forki here as they probably know a bit better than me the implication of it.

[2021-04-24 16:30] Zaid-Ajaj commented on #355
Lowering FSharp.Core to 4.7.2 means that the repository Fable.React won't be able to use latest features of F# such as string interpolation but it makes more compatible where users are still one netcore 3.1 for example

[2021-04-24 17:55] MangelMaxime commented on #355
That's what I thought, I just don't know if @alfonsogarciacaro had a "reason" to upgrade this dependency.

[2021-04-24 18:38] Zaid-Ajaj commented on #355
If you don't explicitly say what FSharp.Core should be, it will infer the version from the SDK, so @alfonsogarciacaro probably had updated the .NET sdk to 5.x and published a new version of Fable.React that inferred FSharp.Core to be v5

[2021-04-25 17:06] dwlizlo opened #356 "Form validation"
Having form validation for Feliz would be nice :)

[2021-04-25 17:42] Zaid-Ajaj commented on #356
Hi @dwlizlo you can already implement form validation with Feliz, what exactly are you missing? 🤔

[2021-04-25 19:17] dwlizlo commented on #356
Hey @Zaid-Ajaj I'm looking for something similar to react-hook-form.
I assume you mean implementing validation myself along with storing state? I can try this, I'm just a bit worried about boilerplate though.

[2021-04-25 19:21] Zaid-Ajaj commented on #356
I would say give it a try yourself before looking into helper libraries. I have seen `react-hook-form` before and building a binding for it might not the most straightforward thing so for now use what you know, a couple of state variables can go along way!

[2021-04-25 19:28] #356 closed

[2021-04-26 20:14] dwlizlo opened #357 "Add prop.onFocusOut"
Hey, prop seem to be missing onFocusOut (only onFocus is available)

[2021-04-27 18:04] MangelMaxime commented on #355
@Zaid-Ajaj I just released Fable.React 7.4.0 which lower the requirement for FSharp.Core to 4.7.2

[2021-05-02 08:14] bzuu opened #359 "Question: how to correctly pass children to JSX component"
While trying out the ability to import JSX components in Feliz I ran into an issue when creating components that have children. When I do this I see the warning `Each child in a list should have a unique "key" prop.`. I suppose this may be related to #21, but am not sure how one can spread the children in this case?

Here is a minimal example to demonstrate the issue:

[code]

[code]

[2021-05-02 09:16] OkayX6 opened #360 "GraphQL files with kebab cases generate incorrect F# code"
I had a file like this:
![image](https://user-images.githubusercontent.com/1169339/116808089-31c36b00-ab61-11eb-9435-3d3a4c260fd0.png)

And the generated FS code was this (picture from my Git DIFF, can you reason about it enough?) :
![image](https://user-images.githubusercontent.com/1169339/116808187-a4344b00-ab61-11eb-9f39-74724a0cd0ba.png)

[2021-05-02 09:47] OkayX6 commented on #360
Oups sorry, wrong repo lol

[2021-05-02 09:47] #360 closed

[2021-05-03 00:59] Zaid-Ajaj commented on #357
Hi @dwlizlo according to latest [react source-code](https://github.com/facebook/react/blob/master/packages/react-dom/src/shared/ReactDOMUnknownPropertyHook.js#L34-L42), onFocusOut is not supported and onBlur should be used instead

[2021-05-03 00:59] #357 closed

[2021-05-03 01:04] #355 closed

[2021-05-03 01:05] Zaid-Ajaj commented on #355
Thanks @MangelMaxime I just published Feliz v1.44 which depends on Fable.React v7.4 🚀

[2021-05-03 01:25] Zaid-Ajaj commented on #359
The warning you are getting is actually the "most correct React code" because you are supplying a list of which the size can be dynamic so React asks you to give it keys. Unfortunately, in Feliz there is no easy way to determine a dynamic list from a static one and spread the elements across the `createElement` call from React. `prop.children` only suppresses the warning by giving the elements art

[2021-05-03 05:07] MangelMaxime commented on #359
Hello,

as @Zaid-Ajaj said what you are seeing is the expected behaviour based on how Feliz use React: using `prop.children` instead of spreading the element across `createElement`.

To complete @Zaid-Ajaj answer, you can also decide to set the `prop.key` by yourself on the `li` elements.

It can feels overkill for a simple component like in your example but if it was a more complex components it

[2021-05-03 19:01] bzuu commented on #359
Thanks @Zaid-Ajaj and @MangelMaxime for both your very helpful answers. It does make a lot more sense now.

I also see why the behaviour in other places kind of 'hides' the issue as the title of #21 suggests. I'll definitely go and watch the video when I have some time as it may give me some more background into how things work under the hood. For now I think the main takeaway is to try and provid

[2021-05-13 21:54] Zaid-Ajaj commented on #359
@bzuu  A simple solution to this could be that instead of `ReactElement list`, you take one `ReactElement` and use a `Html.div` or `React.fragment` as the root element

[2021-05-14 08:25] bzuu commented on #359
@Zaid-Ajaj that is indeed a workaround I considered. Mostly though I wanted to know if I missed something when using JSX components. And it seems providing meaningful keys is the thing I missed :) Thanks!

[2021-05-14 08:26] #359 closed

[2021-06-04 11:24] halcwb opened #373 "Incompatible Markdown version"
Trying to install Feliz.Markdown ran into an issue with the NPM:

npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: undefined@undefined
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^15.0.0 || ^16.0.0" from react-markdown@4.3.1
npm ER

[2021-06-04 15:49] Zaid-Ajaj commented on #373
Hi @halcwb it looks like we need to update Femto metadata of Feliz.Markdown because it needs an older version of React.

In the meantime, you can update react-markdown to a more recent version until this issue is fixed

[2021-07-01 22:06] Numpsy opened #381 "React memory leak warning when using Feliz.RoughViz"
Hi,

I'm a total beginner with React and Feliz and such so I might just be missing something simple, but in case -
I recently tried creating a simple app using the SAFE.React template and added some simple charts to it using Feliz.RoughViz, and then when I was looking at something else in the Firefox dev tools I noticed that I was getting this warning when navigating away from the page containing

[2021-07-01 22:12] Zaid-Ajaj commented on #381
Not sure why this is happening, I will take a look!

[2021-07-07 07:07] MangelMaxime opened #383 "Remove Obselete warning on Html.title"
When using `Html.title` there is a warning

https://github.com/Zaid-Ajaj/Feliz/blob/5256d3ca65e54675b2730734d1417aaf4d81c365/Feliz/Html.fs#L789-L797

However, `Html.title` is perfectly valid when generate `<title>My page title</page>` element tag.

https://www.w3schools.com/tags/tag_title.asp

[2021-07-07 14:42] #383 closed

[2021-07-07 14:44] Zaid-Ajaj commented on #383
Removed the obsolete warning as of Feliz v1.48 🚀 thanks @MangelMaxime for reporting the issue

[2021-07-20 16:18] MangelMaxime commented on #332
*I just happen to read this thread while searching for other stuff.*

For information, since Fable 3.2.9 Fable will not emit JavaScript code if there is an F# compilation error.

However, if there is Fable compilation error (like missing replacements) it will still emit JavaScript code and so trigger Webpack or any tooling listening to the files.

https://github.com/fable-compiler/fable3-samples/i

[2021-07-27 11:41] panmau opened #388 "Conversion from functionComponent to [<ReactComponent>] lead to broken component"
After the conversion of a React.functionComponent to the new `[<ReactComponent>]` annotation, the component changed it's behavior.

# Repro Steps
1. Start the repro that can be found here: https://github.com/panmau/feliz-reactcomponent-repro
2. Focus the input field below the `<ReactComponent>` heading
3. Type one letter into the field

# Expected Result
Field keeps focus

# Actual Result
Field lo

[2021-07-29 09:36] Zaid-Ajaj commented on #388
Hi @panmau thanks for reporting the issue! I have a look in the next couple of days when time permits

[2021-08-04 17:34] 64J0 opened #391 "Can't define CSS animations with the current options"
Hello guys, hope you're good. With the current CSS inside components options, I think it's impossible to write CSS animations.

For instance, I'm trying to do this: https://stackoverflow.com/questions/6410730/css-endless-rotation-animation.

[2021-08-04 17:52] Zaid-Ajaj commented on #391
Hi @64J0, for anything that requires advanced CSS, using inline styles might not be the best option.

It is a lot easier to simply use CSS instead and import it into the component.

For example, write your CSS in a module
[code]
Then import the CSS class into your component (assuming you are using the Feliz template or the SAFE template)
[code]
Hope this helps 😄

[2021-08-04 18:10] 64J0 commented on #391
Alright, thanks for the fast answer @Zaid-Ajaj. It helped a lot.

I'll close this issue since the question has been answered.

[2021-08-04 18:10] #391 closed

[2021-08-06 07:20] dkirchhof opened #392 "Wrong Props while using ForwardRef"
Hey,

since a few days i'm experimenting with this great library. But now i have a problem while forwarding refs.
Here are two example components to reproduce the issue:

[code]

I had some undefined here and undefined there errors. So i added the `console.log`.

![image](https://user-images.githubusercontent.com/2778643/128472114-030f3108-9720-418c-9622-8f494b6286d4.png)

Well, as you can see, th

[2021-08-09 11:27] Zaid-Ajaj commented on #392
Hi there @dkirchhof thanks for filing the issue, I will need to look into it soon. I am bit low on time these days, if you can help me out with a proposal on how to fix the problem, it would be awesome 💯 to be honest, I haven't worked with the ForwardRef API a lot so I will some time to dig into it

[2021-08-10 08:10] dkirchhof commented on #392
I will try when i have some time left :)

[2021-08-11 16:04] dkirchhof commented on #392
Okay, i made a PR and the build process was successfull. Unfortunately i wasn't able to build feliz locally, so i haven't tested it :crossed_fingers:

[2021-08-13 19:18] AlbertoDePena commented on #349
I gave that a shot a while back... Take a look at this repo for some inspiration =)

https://github.com/AlbertoDePena/Fable.Msal

[2021-08-17 21:20] #392 closed

[2021-08-17 21:21] Zaid-Ajaj commented on #392
Thanks a lot for the fix @dkirchhof 🙏 it looks good to me. Merged and published as of Feliz v1.51 🚀 can you give it a try and see if it resolves the problem?

[2021-08-18 15:16] dkirchhof commented on #392
Hey, i can confirm the the bug is fixed now :slightly_smiling_face:

[2021-08-28 12:21] OkayX6 opened #402 "[Feliz.Template] Add .editorconfig with Fantomas specific options for Fable/Feliz?"
Hi,

What do you think of adding this small `.editorconfig` file in the Feliz?
After playing around, I think Fantomas is quite usable by now for our scenarios, which has not really been the case before :)?

[code]

[2021-09-01 13:05] PawelStadnicki opened #404 "How to wrap Feliz app with artificial code"
I need to "embed/embrace" Feliz web application (final js produced by webpack) with 'parent' code.
What is the approach with Feliz to do that saying that I cannot that do it on webpack level ?

In particular, lets say that I have some main ReactComponent:

`ReactDOM.render(MainComponent(), document.getElementById "root")`

in that component, I must have access to global variables (I know it is not

[2021-09-01 13:16] PawelStadnicki commented on #404
I will meantime experiment with useDeferred hook and continue with rendering functionality after deferred action is ready. Maybe it is what I need

[2021-09-03 21:11] #404 closed

[2021-09-04 21:41] Shmew commented on #288
That... actually seems to be the case 😅.

[2021-09-10 08:11] StuwiiDev opened #405 "Data list - input prop.list missing"
Hi,

I have recently tried to use the Html.datalist and I found that when using the Html.Input to bind them together there is no 'list' prop on the Input.

Example

[code]

Is this something that could be added please or point me in the right direction if I have missed something.

Thanks

[2021-09-10 08:14] MangelMaxime commented on #405
Hello @StuwiiDev,

While waiting for a fix you can use `prop.custom("list", "exampleList")`

`prop.custom` allows you to pass anything you want to the props.

[2021-09-10 08:18] StuwiiDev commented on #405
ah didn't see that one! I'm very new to Fable and Feliz,
Thanks for pointing that one out and the quick response, works a charm :)

[2021-09-10 10:16] #405 closed

[2021-09-10 10:20] Zaid-Ajaj commented on #402
Hi @OkayX6 I haven't tried latest Fantomas yet with latest Feliz, gonna check it out first and add the config if it works nicely with other things like hooks and component definitions etc.

[2021-09-10 11:26] Zaid-Ajaj commented on #405
@StuwiiDev Updating Feliz to v1.52 should now include the missing property

[2021-09-21 14:34] soycabanillas commented on #328
It seems that the commit SHA: f3886b4179b652b53ac74b428fadcd3539580a26 reintroduces this bug.

[2021-09-30 09:42] Linschlager commented on #388
@Zaid-Ajaj Thanks for the reply, any news on this?

[2021-09-30 09:48] Zaid-Ajaj commented on #388
@Linschlager Sorry haven't had the time to investigate properly. Will do soon 🤞

[2021-10-08 09:46] TWith2Sugars opened #410 "Issue with UseElmish and Fable.Promise 3+"
Details are here: https://github.com/fable-compiler/fable-promise/issues/24 in case anyone else runs in to the same problem.

[2021-10-08 16:48] gmblpnw opened #411 "Migrating from Html.svg to Svg.svg"
Previously it was possible to write something like this:
`
Html.svg [
    prop.width 200
    prop.height 200
    prop.children[
        Html.g[
            Html.circle [
                prop.className "test"
                prop.cx 50
                prop.cy 50
                prop.r 30
            ]
        ]
    ]
]
`

But now when I try

`
Svg.svg [
    prop.width 200
    prop.height 200
    pr

[2021-10-08 17:06] #411 closed, assigned to nobody

[2021-10-14 14:22] brett9897 opened #412 "[Feliz.Template] Config.variableOrDefault always returns default"
I am going to continue looking into this as I am new to Feliz and might be doing something wrong.  However, when I use Config.variable I get my .env value and when I use Config.variableOrDefault the function always returns the default.  I'm looking at the code in the Extensions.fs file and I don't see anything jumping out at me that is wrong.

I just wanted to leave this message to see if anyone e

[2021-10-15 13:31] poborin opened #413 "Dragging SVGs"
Hello,

I'm trying to make SVGs draggable using Feliz. I spotted a `draggable` [property](https://github.com/Zaid-Ajaj/Feliz/blob/85dd0368dad05eca507c3b12ea45070fa65a4741/Feliz/Properties.fs#L598). Is there a way to utilise this property for what I need?

Alternatively, I can use https://www.npmjs.com/package/react-draggable. However, it doesn't look as straightforward as I thought.

Thanks.

[2021-10-20 15:11] LuisFX opened #415 "Custom HTML tag"
How could I add a custom html tag, such as Html.marquee?

[2021-10-20 17:53] MangelMaxime commented on #415
You can use type augmentation to add support for your tags directly.

[code]

[2021-10-20 19:30] #415 closed, assigned to nobody

[2021-10-25 08:26] IltaySaeedi opened #417 "Text overflow in docs"
The issue has been fixed in my browser, after adding is-10 class to the referenced component.

By looking at the previous lines I think changing line 1181 to the
`prop.className [ Bulma.Tile; Bulma.Is10 ]`
will fix the issue.

https://github.com/Zaid-Ajaj/Feliz/blob/da40e65d5b822d56eb9fbce59e72f239c6f9dcc6/docs/App.fs#L1181

[2021-11-02 13:09] LuisFX opened #419 "Creating nested react components"
Hi, I'm trying to start writing bindings for the ionic framework. I'm having issues (probably of lack of understanding):

[code]

The code above outputs the following html:

[code]

But I was expecting to see this:

[code]

Can someone please tell me what I'm doing wrong? Or maybe share a link where I can learn how to write this properly?

Thank you much!

[2021-11-02 13:17] LuisFX commented on #419
I'm actually trying to really wrap my head around what the best approach would be. The approach I'm trying to go for above, is "wrapping" the library's react components... but in reality, it seems like all those react components do, is write "custom" tags with classes. So, it seems to me that the best approach would be to just output the html myself like so:

[code]

Basically, just as feliz.bulma

[2021-11-02 14:02] MangelMaxime commented on #419
Using `Interop.createElement "ion-app" xs` probably works if you are including Ionic WebComponents version.

If you want to write a binding for a React library my go to is to look at the `Feliz.Recharts` library. The structure goes like that

**Types.fs**

Define types and also interface used to represents the elements properties. This make the bindings more strict and type safe, for example like

[2021-11-02 14:45] LuisFX commented on #419
Damn, you're a savage! That's EXACTLY what I was looking for... I tested a small proof-of-concept, and it works like a charm. Thanks you so much @MangelMaxime !

[2021-11-02 14:45] #419 closed

[2021-11-02 18:26] eagle-k opened #420 "Using FSX to define React components"
The [FSharp.Formatting](https://github.com/fsprojects/FSharp.Formatting) library can be used to generate HTML based on F# script files.
As an example, although it is too simple, I have created a [prototype](https://github.com/eagle-k/FextPOC) that generates a [Next.js](https://nextjs.org/) page based on an fsx file.

I think we can apply this to treat FSX files as React components in the same way

[2021-11-05 12:38] #296 closed

[2021-11-08 09:04] TWith2Sugars commented on #410
Looks like this is fixed as of https://github.com/Zaid-Ajaj/Feliz/pull/414

[2021-11-08 09:04] #410 closed

[2021-11-19 12:35] duncanworthy opened #428 "Feliz.svg missing mask attribute"
I can see that the Svg type has the mask element mapped, but there doesn't appear to be the mask attribute mapping defined.
https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/mask

[2021-11-19 12:56] duncanworthy commented on #428
Also just noticed there seems to be a copy-paste error on the mask element definition, as that seems to be mapped to "marker"

[2021-11-26 04:41] Luiz-Monad commented on #298
How about replacing the require interfaces by rewriting the final babel AST with a plugin ?
It would be similar to rebinding dotnet assemblies. https://docs.microsoft.com/en-us/dotnet/framework/deployment/configuring-assembly-binding-redirection
I think this would basically solve the problem, wouldn't ?
For example, I use Fable.React , but lets also presume I use Fulma, which depends on it, and I

[2021-11-28 15:45] pw242 opened #430 "SelectSearch renderValue does not replace default"
I'm trying to get rid of the default 'down arrow' and replace with a 'search icon'. Using renderValue my react component appears inside a div with the default styling. Hence I get the icon I want but with the 'arrow' super-imposed. Is this the intended behaviour? I thought renderValue would replace the default with my custom render, not super-impose.

[2021-11-29 17:31] #417 closed

[2021-11-29 17:56] Zaid-Ajaj commented on #428
Thanks for the PR, this should be resolved now (fix included from #429)

[2021-11-29 17:56] #428 closed

[2021-12-14 10:22] eagle-k commented on #420
Thanks for the reply! There may indeed be a problem with the build step, I'll explore the combination of Feliz and SSG a bit more.

[2021-12-14 10:22] #420 closed

[2021-12-14 13:32] pw242 opened #431 "prop.span mislabeled"
prop.span is prop.spam

[2021-12-15 02:14] nirvdrum opened #432 "Router setup in template confusing"
I'm fairly new to F#, Fable, and Feliz, so I apologize in advance if I'm running into things that are well known in the community. Having worked with React in TypeScript and ReasonML, I expected the router to work with various paths. I.e., generating a new application with _Feliz.Template_ 3.16.0 and updating _Main.fs_ to render the router component, I would have expected the following URLs to ren

[2021-12-15 02:23] nirvdrum opened #433 "Add examples of laying out components in multiple files"
The 3.16.0 version of _Feliz.Template_ creates multiple components and stores them in a single _Components.fs_ file. Given it's the default layout provided by the new project template, it suggests that all components should end up in this one file. If that's the case, it would be helpful to call that out in the docs since it's at odds with the layout in React with JS. Alternatively, if the best pr

[2021-12-15 08:44] MangelMaxime commented on #433
I suppose in the example all the component are in a single file to make it less intimidating for newcomers.

However, it true that I don't think that this is viable for a "real" application as otherwise, you would end up with almost your whole client app code in a single file of thousands of lines.

[2021-12-15 10:01] MangelMaxime commented on #432
You can find information about using path-based URLs instead hash-based URLs in the [Feliz.Router documentation](https://github.com/Zaid-Ajaj/Feliz.Router#using-path-routes-without-hash-sign).

In general, we use hash-based path in example/templates because they are easier to work for a minimal setup. When you use path-based URLs, your browser with make a call to your Web Server to retrieve the pa

[2022-01-09 04:00] zelenij opened #436 "[Feliz.Rechart] Add Y tick label formatting"
Looks like there is no way to format tick labels in Line charts (tickFormatter not on the API).  So using thousand separators, or having some smarter formatting is not directly possible at the moment.  https://github.com/recharts/recharts/issues/1534

[2022-01-22 10:25] halcwb opened #441 "Adopting Feliz.MaterialUI"
It seems [Feliz.MaterialUI is afloat again](https://github.com/Shmew/Feliz.MaterialUI/issues/84). Would this project be interesting to add to maintenance within the Feliz ecosystem? I also imagine it could be of interest for CompositionalIT?

[2022-01-31 10:22] rfrerebe opened #443 "Incorrect SVG Attributes"
Some SVG Attributes are wrong (`strokeDasharray` instead of `stroke-dasharray` [MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-dasharray))
Some SVG Atributes are missing (stroke-dashoffset [MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-dashoffset) , stroke-linecap  [MDN](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-linecap) , st

[2022-02-03 15:37] #431 closed

[2022-02-03 17:00] Zaid-Ajaj commented on #443
Fixed as of v1.58

[2022-02-03 17:04] Zaid-Ajaj commented on #433
Hi @nirvdrum, this is not the case! It is just to demonstrate how to create different components and use them from other components. Which convention you follow is up you. Personally, I prefer to put components that are logically related in one file rather then making the distinction of "big vs small" components

[2022-02-03 17:04] #433 closed

[2022-02-03 17:05] Zaid-Ajaj commented on #432
@MangelMaxime pretty much explained it. If there are any questions, please let me know!

[2022-02-03 17:05] #432 closed

[2022-02-03 17:07] Zaid-Ajaj commented on #157
Let's close this one and if there are any concrete issues lingering, we discuss them in a new issue

[2022-02-03 17:07] #157 closed

[2022-02-03 17:07] #334 closed

[2022-02-03 17:09] #413 closed, assigned to nobody

[2022-02-03 17:14] nirvdrum commented on #433
Thanks for the clarification. My point was that as a new user, there isn't any guidance on the matter. Whether through documentation, a code generator, linter, or something else, it'd be helpful to see how a project should be organized beyond a single file.

[2022-02-04 10:08] Linschlager opened #447 "More contributions to Feliz style module"
- [ ] `overflowWrap`
- [ ] `letterSpacing`
- [ ] `length.calc`?

- [ ] Larger topic: Update Feliz.ViewEngine with new style module additions

[2022-02-04 10:08] #447 closed

[2022-02-04 12:45] MichaelMay81 opened #448 "GridTemplate properties missing"
gridTemplateRows and gridTemplateColumns are missing following properties: auto, max-content, min-content, initial and inheritFromParent

[2022-02-04 12:48] MichaelMay81 commented on #448
For my project I made an extension:
[code]

[2022-02-07 11:29] TerenceHinrichsen commented on #441
Can I 'upvote' this request?? 🤣

[2022-02-09 09:22] halcwb commented on #441
I have been talking to @Zaid-Ajaj. However, he's quite busy at the moment. So all his regular maintenance will fill his plate, I think. I am going to check at Compositional IT and I am working on funding.

[2022-02-10 11:05] r3try3 opened #449 "spellcheck property does not work"
`prop.spellcheck` does not work.
`prop.custom ("spellcheck", "false")` works as a workaround (note to use the string instead of a bool value because otherwise the property does not get rendered)

[2022-02-10 12:40] Zaid-Ajaj commented on #449
Hi @r3try3 thanks for filing the issue and for suggesting the fix 🙏 should be resolved as of v1.58.1

[2022-02-13 12:51] halcwb opened #451 "Feliz.Markdown needs updating"
I think that the Feliz.Markdown binding needs an update as the version used, 4.2.2, is no longer compatible with the latest react. The latest react-markdown had some breaking changes: https://github.com/remarkjs/react-markdown/blob/main/changelog.md.

[2022-02-14 08:10] halcwb commented on #451
P.S. The biggest breaking change is that `source` is not `children`.

[2022-02-24 13:12] jkone27 opened #457 "npx create-feliz-app"
would it be maybe useful for fable/react community to have a similar command also from npx (also installing other required dependencies, etc) or is this not useful/feasible to increase comunity adoption?

ps i know you can create it with ```dotnet new```, but i thought most js developers would prob be more comfortable with ```npx create-x``` ?

[2022-02-24 13:19] jkone27 commented on #457
https://github.com/facebook/create-react-app/issues/9060

[2022-03-01 16:57] JaggerJo opened #460 "[<ReactComponent>] args translation error"
The ReactComponent compiler plugin apparently can't deal with functions that take 2 arguments where the 2nd in optional.

The code below throws the following exception.

<img width="447" alt="image" src="https://user-images.githubusercontent.com/13090415/156211311-874a9f68-a1e3-4f38-8140-c00a414277ff.png">

[code]

The first argument gets passed as the components  `props` directly. It's not wrappe

[2022-03-01 17:02] JaggerJo commented on #460
cc @aaronmu

[2022-03-04 21:33] isaacabraham opened #461 "Is it safe to compare against Double.Nan?"
The code for `prop.onChange` is [here](https://github.com/Zaid-Ajaj/Feliz/blob/6350ef036d7f49c9f70b4fb56e93156d5569ada8/Feliz/Properties.fs#L1074). I don't know how this gets rendered in the JS world but in the .NET world IIRC you shouldn't compare against the `Nan` value but instead use the `IsNan` method.

For example (and I tested this in Fable too), the following behaviour can be observed:

[c

[2022-03-05 03:15] tnishimura commented on #461
Indeed, according to IEEE 754, "any_double != NaN" should eval to true. [Useful table here](https://en.wikipedia.org/wiki/NaN#Comparison_with_NaN).

[2022-03-05 11:33] #460 closed

[2022-03-05 11:33] #461 closed

[2022-03-05 11:34] Zaid-Ajaj commented on #460
Hi @JaggerJo thanks for filing the issue and for the details. I've pushed a fix for it as of Feliz v1.60 can you please give that. a try? thank you!

[2022-03-05 11:35] Zaid-Ajaj commented on #461
You are right @isaacabraham, using `IsNaN` is the correct way for checking. Resolved as of v1.60

[2022-03-07 10:20] JaggerJo commented on #460
Works as expected now. Thanks a lot!

[2022-03-10 08:01] forki opened #463 "Record type allowed in ReactComponent"
https://github.com/pmmmwh/react-refresh-webpack-plugin/issues/258

It looks like the issue is closed and I wonder if the warning is now obsolete

![image](https://user-images.githubusercontent.com/57396/157615469-605e30c0-b1c8-4c46-bf71-c75d04a4a3af.png)

[2022-03-10 08:19] MangelMaxime commented on #463
Hello @forki,

For me the warning is still valid this days.

For react-refresh, to works it looks at the exposed values from your JavaScript files. React-refresh, is activated only if all the exported values from your JavaScript module are considered ReactComponent. For the detection, they basically looks if everything that is exported is a Function starting in Capital case (I think there are othe

[2022-03-10 09:16] panmau commented on #463
I wonder whether this warning needs to be activated for all users, even those that are not using tools like react-refresh. (I don't really know if that is common)  For users like this, this is a lot of noise that isn't applicable/useful.

[2022-03-10 09:29] MangelMaxime commented on #463
React-refresh is now the defacto tool used when using React with any bundler so I think it makes sense to inform the users.

It also encourage people to write "standard" code that is know to works with React and so can avoid potentiel issues.

[2022-03-11 13:30] thinkbeforecoding opened #464 "Feliz 1.60.0 has a <4.8.0 restriction on FSharp.Core"
Previous version of Feliz have a restriction on FSharp.Core:  >= 4.7.2, but latest version (1.60.0) adds a new restriction < 4.8.0 on it.
This is incompatible with other versionning like Feliz.Bulma.Tooltip that has a >= 5.0.0 restriction on FSharp.Core

[2022-03-12 09:47] Zaid-Ajaj commented on #464
Thanks a lot for reporting the issue @thinkbeforecoding, should be fixed as of v1.61 🚀

[2022-03-12 09:47] #464 closed

[2022-04-05 13:22] b3ng91 commented on #388
Hi @Zaid-Ajaj, any news on this issue? Thanks in advance 👋🏻

[2022-04-05 13:38] Zaid-Ajaj commented on #388
Hi @b3ng91 i haven't had the time to properly check it out but now I looked at the code again and I think the problem is in this
[code]
can you try
[code]
?

[2022-04-06 15:48] b3ng91 commented on #388
Hi @Zaid-Ajaj. That did not change anything unfortunately.

[2022-04-08 20:30] John-Colvin opened #469 "Difficulties getting the template to work out of the box."
Apologies if there is something very obvious I'm missing,

I ran `dotnet new feliz -n testercode`, followed by `femto` and then `npm run start`.

Initially I got `ERR_OSSL_EVP_UNSUPPORTED` errors, so I added `hashFunction: "sha256"` to fix that in `module.exports.output`, which seems to have worked, but then I get this:

[code]

[2022-04-11 12:21] sWW26 opened #471 "Stopping asynchronous recursive updates when useElmish component destroyed"
I have an application where a component using `useElmish` is polling the server while a condition is true, in a similar fashion to the Tick example in https://zaid-ajaj.github.io/the-elmish-book/#/chapters/commands/async-recursive-updates.  The problem I'm having is that when I leave the page contianing said component the dispatch loop continues to run causing unneccessary API calls.

What's the b

[2022-04-12 07:37] MangelMaxime commented on #471
Hello @sWW26,
in theory, if your component is not loaded anymore in the DOM the Elmish application is destroyed and so will not continue generating messages.

When you say "leave the page" is the Elmish component removed from the DOM or just hidden by something else?

[2022-04-12 10:17] sWW26 commented on #471
That's correct the component is removed, however the update function is still processing messages then raising new commands through Cmd.ofAsync.  I'll try and put together a simple example.

[2022-04-12 10:42] sWW26 commented on #471
I've made the smallest example I could think of to show my issue, click the "Start polling API" button once and it'll start printing to the console once per second.  If you then click the "Navigate" button `FirstComponent` is removed but you'll see the console messages continue.

[code]

[2022-04-25 10:33] EspenBrun opened #476 "Recharts tooltip properties not correct type"
![image](https://user-images.githubusercontent.com/22228208/165061849-86cce268-784b-4419-891a-d33c60876725.png)

[2022-05-04 19:42] MangelMaxime opened #479 "Can we make [<Hook>] only change the function if it doesn't start with use?"
Hello,

in general when writing hook function, I took the habit of doing it like that:

[code]

because I was thinking that the `[<Hook>]` attributes was just "ensur[ing] the generated code starts with "use" in order for fast-refresh to pick it up" (quoted from the doc comment).

https://github.com/Zaid-Ajaj/Feliz/blob/4d621ebabfabef1723144ff155121397ce701e13/Feliz.CompilerPlugins/Hook.fs#L6-L7

B

[2022-05-09 22:22] #479 closed

[2022-05-09 22:23] Zaid-Ajaj commented on #479
You are right @MangelMaxime, this is sub-optimal for sure. I've published a fix for this in Feliz v1.64 🚀 can you take it for a spin?

[2022-05-09 22:23] #476 closed

[2022-05-09 22:26] Zaid-Ajaj commented on #463
Hi @forki, it is as @MangelMaxime said, these warnings are still valid and the solution is to either use normal function parameters or put the record definitions in a separate file (seperate JS module)

[2022-05-09 22:26] #463 closed

[2022-05-09 22:29] Zaid-Ajaj commented on #469
Hi @John-Colvin, thanks for opening the issue and for the details. The template should work out of the box. Though I haven't tested it with latest nodejs so it could be the issue. I will have a look

[2022-05-10 02:10] JordanMarr opened #480 "React 18 UseEffectOnce"
With React 18 bringing a breaking change that will cause `React.useEffect` to fire twice, it would probably be a good idea to update the Feliz `useEffectOnce` to prevent breakage.

Here is an adaptation from https://dev.to/ag-grid/react-18-avoiding-use-effect-getting-called-twice-4i9e:

[code]

Probably needs a bit more work, but that's the idea anyway.

Thoughts?

[2022-05-10 08:20] MangelMaxime commented on #479
Thank you @Zaid-Ajaj, it looks good to me.

[2022-05-13 16:47] sWW26 commented on #471
Achieved what I needed by:
 - Sticking a `CancellationTokenSource` on the model.
 - Passing a `CancellationToken` to the async call using the `Cmd.ofAsyncWith` helper
 - Implementing `IDisposable` on the model so I can call `Cancel()` on the `CancellationTokenSource`

[2022-05-13 16:47] #471 closed

[2022-05-26 12:01] Dzoukr opened #481 "UseElmish with Fast Refresh"
Hi @Zaid-Ajaj,

this is related to WIP PR #423. I usually cannot make UseElmish to work with Fast Refresh, even when following all the rules like PascalCase + making init + update functions private. However, I tried to use @alfonsogarciacaro version and got some minor improvement:

![useElmish](https://user-images.githubusercontent.com/851307/170483687-ca97fff0-7509-4739-aa60-9b9206c4e3b5.gif)

As

[2022-05-26 12:29] Dzoukr commented on #481
Just FYI, I also tried #401 by @olivercoad and it even survives every refresh, however it stops triggering commands, so it's more less at the same state as Alfonso's PR (pretty close, but not fully functional). I assume this issue is quite hard to tackle. 😄

[2022-05-26 12:30] MangelMaxime commented on #481
Hello @Dzoukr,
in one of my project I made a custom/fixed version of  `UseElmish`

I never had the chance to really test it but we are using it successfully in our project since 3+ months. And I didn't have the time to send a PR.

If you want to use it, you can copy/paste the code in your project as a replacement of Feliz.UseElmish deps.

Here is the code of it:

[code]

[2022-05-26 12:38] MangelMaxime commented on #481
Also just as a reminder for React refresh to work you need to only export ReactComponent from the module.

So mark `init`, `update`, or any other helpers function/values as private.

For vite.js, their is also the need to add this line

[code]

Without this line vite.js doesn't seems to apply React Refresh

Example of a module:

*using the bad example of counter 🙈*

[code]

[2022-05-26 12:56] olivercoad commented on #481
Sounds promising, will have to check it out!

[2022-05-26 13:24] landy commented on #481
Just a quick question here. It is a confusing topic for me. Do we need to use the `@pmmmwh/react-refresh-webpack-plugin` when building Feliz apps with Webpack or is the `react-refresh` enough?

[2022-05-26 13:45] MangelMaxime commented on #481
@landy I think that when using Webpack you need to `@pmmmwh/react-refresh-webpack-plugin` because Webpack doesn't have ReactRefresh out of the box.

It only have HMR (Hot module replacement) which can be seen as the ancestor of react-refresh for React code.

[2022-05-27 13:28] Dzoukr commented on #481
One observation here. I found that in this @MangelMaxime version of UseElmish, when I change the dependencies, the full render is not triggered (for original UseElmish it works). Will try to dig deeper and will let you know.

[2022-05-27 14:27] Dzoukr commented on #481
Ok, I may find it... I have to store also the state of dependencies and if it's not the same like previous ones, I need to do program re-init.

[code]

@MangelMaxime, please would you find time to look at this piece to tell me if you see any problem in it? 🙏

[2022-05-29 10:58] Zaid-Ajaj commented on #481
Hi @Dzoukr and @MangelMaxime, thanks a lot for investigating these issues and coming up with a better solution 🙏 if you satisfied with it, please consider making a PR. These days I low on time to debug issues and add big features but if can definitely merge and publish new packages 😄 This one would be great so that we can implement what @olivercoad started with in #401

[2022-05-31 08:37] MangelMaxime commented on #481
@Dzoukr What do you mean by :

Is it when the dependency change via runtime execution?

Or when your code changes and so trigger a refresh?

[code]

@Zaid-Ajaj Will send a PR yes.

[2022-05-31 09:28] Dzoukr commented on #481
Yup. Exactly. I have a `ReactComponent`, that has a string parameter and this parameter is used in useElmish like:

[code]

When this dependency changes, it still behaves as if it did not.

So I did update in my file of your code to:

[code]

[2022-05-31 09:37] Dzoukr commented on #481
Yup. I would say so. It's still hook so if the deps in array changes, it should behave like it's the first time IMHO.

[2022-05-31 11:31] Dzoukr commented on #481
Hey, stop looking at my private repo! That's exactly how I found it!!! 😁

[2022-06-01 01:35] alfonsogarciacaro commented on #481
@MangelMaxime In my previous PR I added a test for useElmish with dependencies, so if your code passes it hopefully it should be fine 😸 https://github.com/Zaid-Ajaj/Feliz/blob/295162276825b6e17cd8caac5d3f7ba8bc151ff8/tests/Tests.fs#L1152-L1177

[2022-06-01 16:20] arthur-s opened #484 "componentDidMount"

[2022-06-01 16:20] #484 closed

[2022-06-02 07:35] nojaf opened #485 "Plugin Feliz.HookAttribute expects v3.0 but currently running Fable v4.0.0-snake-island-alpha-009"
Hello Zaid! I was curious about Fable 4 and I was bumping all my tools/packages inside my sample project.
Turns out I can't use `[<ReactComponent>]` with the latest alpha?

[code]

Is there any real restriction here?
Or is the check of
https://github.com/Zaid-Ajaj/Feliz/blob/295162276825b6e17cd8caac5d3f7ba8bc151ff8/Feliz.CompilerPlugins/ReactComponent.fs#L14
not taking alpha versions into account?

[2022-06-02 10:22] alfonsogarciacaro commented on #485
@nojaf Plugins are not compatible yet, because they depend on the internal AST and this has changed with the major version. Once the AST settles (probably soon) we'll update the plugins :)

BTW, there are currently no changes for JS (besides JSX support, but this still needs to be tuned up for React) so it's no necessary to update your JS projects yet. I'm still pushing Fable 3 releases with any J

[2022-06-02 12:45] nojaf commented on #485
Hey, thanks for clarifying this. I'll stick to the stable bits.

[2022-06-03 20:45] MangelMaxime commented on #481
After watching some talks about React, using `React.useEffect` is not actually the right way of implementing the Elmish hooks.
It "works" but it can lead to some problem/un-expected behaviour especially with React 18.

I will revisit my implementation to fixes this issues/behaviour.

[2022-06-06 08:56] arthur-s opened #486 "Uncaught ReferenceError: React is not defined"
Thanks for Feliz!
I have an issue with 3rd party React component integration. I've a self-written js component in `./js/Modal.js`:

[code]

I import it in F# code as:

[code]
It works when I include react's script into index.html:

[code]
But if I don't use this scripts, I got an error: `Uncaught ReferenceError: React is not defined`.

How to properly import custom react component? (I don't want t

[2022-06-06 10:26] Zaid-Ajaj commented on #486
Hi @arthur-s can you please show where this error is coming from exactly? As in the stack trace of the error because based on your information I don't see why it would result in error `Uncaught ReferenceError: React is not defined`

[2022-06-06 10:57] arthur-s commented on #486
Hi @Zaid-Ajaj ,
I discovered next:

If component returns string, then it works, but if it returns JSX, then doesn't:
[code]

[2022-06-06 18:46] arthur-s commented on #486
Ok, I've fixed it using `pragma` option for @babel/preset-react. I use next config:
[code]
And in order to make it work, I also need to include `createElement` in js module:
[code]

[2022-06-06 18:47] #486 closed

[2022-06-08 11:47] alfonsogarciacaro commented on #481
@MangelMaxime I haven't been following the #useEffectGate. What's the problem with React 18? `useEffect` with an empty dependency array may retrigger even if the component is not dismounted?

[2022-06-16 09:19] AkosLukacs opened #489 "React 18 in strict mode and useDeferredCallback"
Hi!
Looks like `useDeferredCallback` doesn't work with react 18 and strict mode.

Symptoms: upgraded my app to React 18 with strict mode. The UI just hangs, basically nothing happens, and even the network call seems to be cancelled before the server responds. No error thrown, nothing in console.
It did work with strict mode & React 17. And does work without strict mode and React 18.

After some di

[2022-06-21 06:50] olivercoad opened #491 "Module not found error when using ReactMemoComponent"
Using `ReactMemoComponent` causes an error.

[code]

I think it's because the case, the import should be lowercase `react`.

[2022-06-30 16:25] MangelMaxime commented on #481
Sorry for the delay, I had a lot of stuff on the plate.

The simplest explanation that I found is:

They do that because they want to prepare for future feature 🤷‍♂️

This only occur during development and not on production but that's still something bad according to the community etc.

They introduce a new hooks `useSyncExternalStore` which allows library that manage state like Elmish, Redux, XSt

[2022-07-09 19:59] #491 closed

[2022-07-09 21:38] Zaid-Ajaj commented on #489
Hi there @AkosLukacs, thanks for filing the issue! To be honest, I am not surprised that `Feliz.useDeferred` doesn't work with React v18.x because they introduced breaking changes with `useEffect` which `useDeferred` uses in the implementation.

The current version of Feliz v1.65 and the one you mentioned (v1.64) actually have a strict requirement on React version being: `>= 17.0 && < 18.0` as def

[2022-07-09 21:42] Zaid-Ajaj commented on #481
@MangelMaxime Just to let you know before diving into specific React v18.x hooks, the current Feliz version still requires React `>= 17.0.0 && < 18.0.0` so if you have an implementation that works in for React < 18.x then I think it is very much worth adding to `useElmish`, then users could start using it today and we could have a suit of unit tests for the expected behaviour which will help imple

[2022-08-04 11:57] Steinar30 opened #500 "Pigeonmaps onAnimationEnd not working"
Hi!
I have an issue with the onAnimationEnd event not firing properly, while the onAnimationStart functions as expected.
I think this is caused by the bindings generating onAnimationEnd instead of onAnimationStop, as is used by the pigeonmaps [library](https://pigeon-maps.js.org/docs/map#onanimationstop).

The fix for this is probably just to update the generated string, and potentially rename the

[2022-08-04 15:33] #500 closed

[2022-08-07 03:09] bmingles commented on #441
@halcwb any updates on this?

[2022-08-07 20:04] dsshep opened #502 "Checkbox indeterminate state"
What is the correct way of setting a checkbox to an indeterminate state? There seems to be no logical way within the API. If there isn't, perhaps `prop.isChecked` should accept a `Nullable<bool>` or `bool option` to support this?

[2022-08-08 04:34] babysnakes commented on #317
I'm not a front-end developer - just played around with _Feliz_ but I think I found a solution for this problem - it seems to work in my very simple use case:

Almost all of the #330 PR is relevant.  I followed the following steps:

* Downgrade `source-map-loader` in `package.json` to `^1.1.3`.
*  Make sure that the `start` script has `-s` parameter passed to `dotnet fable` (it's already in the te

[2022-08-12 20:08] jannesiera commented on #441
@halcwb any news?

[2022-08-12 21:47] dsshep commented on #502
No problem, figured it out. You need to use the `ref` property, which may be `null`, and you'll need to have `open Fable.Core.JsInterop`:

[code]

[2022-08-12 21:47] #502 closed

[2022-08-20 10:49] napretep opened #504 "Failed to retrieve information about react required by Feliz"
Failed to retrieve information about react required by Feliz

how to solve this problem ?

![image](https://user-images.githubusercontent.com/7680792/185742537-e8a6e233-b4c9-4fe7-ae49-34dacd1cc159.png)

![image](https://user-images.githubusercontent.com/7680792/185742825-0a4a8d88-6bc6-4bbe-ac37-88cbcb4a0f80.png)

![image](https://user-images.githubusercontent.com/7680792/185742857-b0d39a37-7b76-48

[2022-08-22 06:38] Zaid-Ajaj commented on #504
Hi @napretep thanks for filing the issue! This is probably an error in Femto where it tried to invoke `yarn` but got unexpected results (shape of JSON) I will have a look

[2022-08-22 18:20] Zaid-Ajaj commented on #504
Hi there @napretep, I've just to reproduce the issue at hand and wasn't able to. Femto works just fine with the following versions
[code]
If you don't have latest Femto, try updating it using `dotnet tool update Femto` add `-g` if you have installed the tool globally, same for yarn.

[2022-08-22 19:46] MangelMaxime commented on #504
@Zaid-Ajaj This issue remind me of https://github.com/Zaid-Ajaj/Femto/issues/92

But I never looked into it and don't know which version of Yarn was used.

[2022-08-23 06:17] napretep commented on #504
Both `yarn` and `femto` have been updated to the latest version, still having problems.

Please check this file directly, thank you.

Btw, using `npm` is ok with `femto`

[test_crx.zip](https://github.com/Zaid-Ajaj/Feliz/files/9399804/test_crx.zip)

[2022-08-23 08:30] MangelMaxime commented on #504
@napretep

The zip that you are providing is more or less empty. I don't know what we can do with it.

It would be better to have a reproduction repository with the actual project set up in it. You can push to it Github for example.

And also the version of the version of yarn and femto you are using by running `yarn --version` and `dotnet femto --version` ? Because `latest` is not something preci

[2022-08-23 09:34] napretep commented on #504
[test_crx.zip](https://github.com/Zaid-Ajaj/Feliz/files/9401332/test_crx.zip)
oh , Sorry for uploading wrong zip , the new one contains is the full code.

[2022-08-23 13:28] MangelMaxime commented on #504
@napretep

Because you don't have a license field in your `package.json` yarn generates a strange response when running `yarn yarn info react versions --json`.

It returns:

[code]

So you need to add a license field to your `package.json`.

If your project is private you can set it to `"license": "UNLICENSED"` [NPM docs](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#license).

They a

[2022-08-23 16:52] napretep opened #505 "Program.withReactSynchronous only accept element id as root , but I want to render react app in a shadowroot"
hi there,
I want to render react app in a  shadowroot,  which is the element that normal document cannot find by method `document.getElementById.`

Unfortunately, `Program.withReactSynchronous` uses exactly the `document.getElementById` method to locate the root node, which makes it impossible to achieve my goal.

so what should I do? Is there any other way to run react app in a shadowroot?

I' m

[2022-08-23 16:56] napretep commented on #504
thank you for your help.
I'd like to advice that if Femto could provide more  error info from the place the process break down, it would be more efficient.

[2022-08-23 16:56] #504 closed

[2022-08-23 21:16] napretep commented on #505
oh, I solved it by adding a simple modified version.

[code]

[2022-08-24 20:06] bisen2 commented on #469
I also hit this issue and confirmed that it comes up based on nodejs version. I hit this when running on latest (18.7), but it is not an issue on the LTS nodejs version (16.16). For the time being I am reverting to LTS until I have time to figure out what needs to be changed to get it updated.

[2022-08-25 09:54] #505 closed

[2022-09-07 09:19] alfonsogarciacaro opened #508 "Extract ReactElement to another library and replace Fable.React dependency"
This is something we discussed in the past, I tried to do it in #285, but we didn't merge at the end because moving interfaces to another .dll broke .NET builds. If you're planning to release Feliz 2 @Zaid-Ajaj, maybe this can be a good opportunity to try it again. The idea is:

1. Extract Fable.React types (at a minimum `ReactElement`) to another library, say Fable.React.Types, and publish it ind

[2022-09-07 09:36] Zaid-Ajaj commented on #508
That sounds great @alfonsogarciacaro 🙏 Feliz v2 sounds like a good candidate for this!

[2022-09-11 14:48] MangelMaxime opened #510 "Add `import React from "react"` automatically when the file contains a `[<ReactComponent>]`"
In order for React fast refresh to works, the following import  `import React from "react"` needs to be in the file.

Demo:

https://user-images.githubusercontent.com/4760796/189533763-097ee58f-8efc-438a-9b07-be3ed2c2b347.mp4

1. When first editing the file see how the page does a full reload
2. When I edit after adding `import React, { createElement } from "react"` the file is now using hot reloa

[2022-09-11 20:54] MangelMaxime opened #511 "React.useDeferred doesn't works with HMR"
Because of the usage of `React.useCancellationToken()` when an HMR call has been triggered the async call is never triggered again.

https://github.com/Zaid-Ajaj/Feliz/blob/52907b11f64c758282f2986f1aed0c91d46481b0/Feliz.UseDeferred/UseDeferred.fs#L62-L81

[2022-09-12 13:58] #508 closed

[2022-09-12 14:55] alfonsogarciacaro commented on #510
Good point, I actually had a similar problem [here](https://github.com/fable-compiler/Fable/blob/30e9ccecf4eee8d8c68c5c88c1c799a62634a002/tests/React/__tests__/Tests.fs#L8-L9

Fable groups imports before writing JS so duplication is not an issue. We just need to inject the import in the code, I can try to do that.

[2022-09-12 16:21] MangelMaxime commented on #510
Would be really cool to have it 🙏

If possible on both the current version and next version if that's not too much work.

Like that we can clean up a bunch of manual `import React from "react"` and I can test it on my projects.

[2022-09-13 07:29] alfonsogarciacaro commented on #510
Damn, I gave this a try but I found a problem. We can inject a default import but Fable assigns the variable name automatically so it results in something like this:

[code]

I can fix this in Fable so it allows a pattern like `import "default as React" "react"` but it will require users to update both Fable and the plugins so it may not make much sense for Fable 3. It could be another incentive f

[2022-09-13 08:56] MangelMaxime commented on #510
This indeed ring a bell to me and that's probably why I used `emitJsStatement` as Fable just pass the provided value without modification.

If it is not possible to add to Fable 3, that's unfortunate but can indeed be one of the improvement made thanks to Fable 4 upgrade.

[2022-09-16 20:40] #510 closed

[2022-09-28 18:12] OnurGumus opened #514 "Feliz.UseMediaQuery & Feliz.HookAttribute Fable 4 compatiblity"
Hello, I had some code using `Feliz.UseMediaQuery` failing as below. Perhaps it is a good time to update.

./src/Client/fable-output/fable_modules/Feliz.UseMediaQuery.1.4.0/UseMediaQuery.fs(1,1): error EXCEPTION: Plugin Feliz.HookAttribute expects v3.0 but currently running Fable v4.0.0-theta-010

[2022-09-28 18:14] OnurGumus commented on #514
I think this is a more broader problem with Feliz. I will create another bug.

[2022-09-28 18:15] #514 closed

[2022-10-04 05:24] halcwb commented on #441
@bmingles @jannesiera Still trying to get funding. So, no news really.

[2022-10-10 21:07] sydsutton opened #516 "Missing Recharts properties"
Hello,

I have recently added some properties that I needed for Recharts.tooltip, barChart, and labelList to a project of mine. Would it be okay if I created a PR with those added so that you can review them?

Thanks.

[2022-10-22 05:22] jchain opened #517 "Can you provide a sample for using html select and option with Elmish?"
I try to build a simple app with a html `select` and `option` elements. I want to trigger some message when any of the options is selected. But I couldn't figure it out. Here is a screenshot:
![image](https://user-images.githubusercontent.com/814893/197321944-0aac1d7b-0541-44c2-bd68-51ab8156b348.png)

Can you provide some sample code showing a working elmish style `select`? Thanks!

[2022-10-22 13:53] MangelMaxime commented on #517
An option value in HTML is not an `int` but a `string` you are accessing the value coming from `value="my-option-value"`.

It is possible that the `int` overload, is not accessing `ev.target.value` but something else.

Also, `Browser.Types.Event` doesn't have `e.Value` because, this is not valid JavaScript. In JavaScript, if you want to access the value from an `onChange` event you do `e.target.va

[2022-10-22 21:15] jchain commented on #517
Oh. Thanks so much! The code works like a charm!

[2022-10-22 21:15] #517 closed

[2022-10-24 12:08] travis-leith opened #518 "Documentation: update pitfalls section"
It is not clear to me how [this advice](https://zaid-ajaj.github.io/Feliz/#/Feliz/React/CommonPitfalls) is out of date.

The documentation states "Applies only to Fable 2.x". This either means that the problems caused by these pitfalls are
* solved automagically by later versions of Fable
* still relevant but should be demonstrated with some other syntax that is available in later versions of Fabl

[2022-10-24 19:02] kerams opened #519 "Fable.React.Types-dependent Recharts and SelectSearch"
Hey, could you please release Feliz.Recharts and Feliz.SelectSearch which depend on Feliz v2 beta? Fable compilation works, but I'm getting Intellisense errors because of the type-assembly reshuffling.

[2022-10-26 18:01] #519 closed

[2022-10-31 09:12] TerenceHinrichsen opened #520 "The module/namespace `Fable.React` from compilation unit `Fable.React` did not contain the namespace, module or type `ReactElement`"
When running a paket update I found myself stuck with the error per the title of the issue.

The module/namespace 'Fable.React' from compilation unit 'Fable.React' did not contain the namespace, module or type 'ReactElement'

I have updated to the to
- Fable.Core 4.0.0-theta-006
- Feliz 2.0.0-prerelease-003

In my paket.lock file I see the following:
[code]

Although these libraries are included i

[2022-10-31 09:34] Zaid-Ajaj commented on #520
That is correct, when using latet Feliz v2+, you don't have to reference Fable.React. It used to be fine to include them together but because Fable.React was a dependency of Feliz but in 2+ that is no more, they only share the `Fable.React.Types` dependency

[2022-10-31 12:58] TerenceHinrichsen commented on #520
Thanks for the quick response and confirmation.

We must have a conflicting dependency somewhere. I updated my `Fable.FontAwesome` dependencies to the beta versions as well and literally have this one "build failure":
The module/namespace `Fable.React` from compilation unit `Fable.React` did not contain the namespace, module or type `ReactElement`

The sad part is that the IDE (Rider) doesn't help

[2022-10-31 12:58] #520 closed

[2022-11-23 16:18] Freymaurer opened #526 "Hot reload resets `[<ReactComponents>]` state"
Hello!
I am using the SAFE stack with [hot reload](https://safe-stack.github.io/docs/recipes/developing-and-testing/using-hot-reload/) and the main model is not resetted when i apply changes to my code.
Recently i started using `[<ReactComponents>]` from this library for all the styling stuff so my main model stays clean and i noticed, that whenever i save any changes made to my code it resets the

[2022-11-23 19:17] MangelMaxime commented on #526
In order for a JavaScript module to support hot reload it needs to only have React components made public.

In your code, the `view` function is public and is not a react component.

Quoting myself from another issue:

[2022-11-25 14:50] tforkmann opened #528 "New release for Feliz.UseElmish"
Hi @Zaid-Ajaj,

could you please create a prerelease version for Feliz.UseElmish.

We use Feliz.UseElmish in our project and would like to use it with the new Feliz version.

Thanks,

Tim